<div class="news_box">
        <div class="news_box_content">
            <div class="article">
                <!-- Заголовок новости -->
                <div class="article_header">
                    <header class="article_header_text">
                        <h1><%=headerNews %></h1>
                        <div class="article_header_info">
                            <span class="date">
                                <img src="img/icon/schedule-button.png" />
                                <%=dateNews %>
                            </span>
                            <span class="autor">
                                Артем Цыганенко <a href="https://www.ua-football.com/">UA-Футбол</a>
                            </span>
                        </div>
                    </header>
                </div>
                <!-- Фотография к новости -->
                <div class="article_img">
                    <div class="article_bcimg" style="background-image:url('../img/<%=imgHeader %>')"></div>
                </div>
                <!-- Текст новости -->
                <div class="article_content">
                        <p>Интервью корреспондента UA-Футбол с нападающим алчевской «Стали» Александром Акименко, который по итогам прошлого сезона был признан лучшим футболистом Favbet Лиги 1. Первый вопрос игроку был ожидаемым – поделиться чувствами от своей победы.</p>
                        <p><strong>Александр Акименко:</strong> – Чувства самые приятные. Очень доволен. Что тут ещё можно говорить?</p>
                        <br />
                        <h5>– Важно было, что лучшего футболиста определяли не журналисты или болельщики, а специалисты? То есть, непосредственно игроки команд-соперниц, их тренеры – те люди, которых ты и огорчал своими забитыми голами. </h5>
                        <p>– Конечно, это приятно. Приятно, что меня отмечают и в других командах.</p>
                        <br />
                        <h5>– А вообще, следишь за такими номинациями, как «Игрок тура», «Сборная тура» в различных средствах массовой информации?</h5>
                        <p>– Так, чтобы постоянно, чтобы после каждого тура – не слежу. Разве что иногда. Бывает, что ребята в команде, которые следят, говорят о попаданиях в такие номинации.</p>
                        <br />
                        <h5>– Значит, в команде есть футболисты, которые уделяют повышенное внимание таким рубрикам. Раскроешь секрет, кто?</h5>
                        <p>– Раньше Сикорский следил постоянно. Батюшин тоже часто читает, кого определяют лучшим.</p>
                        <br />
                        <h5>– Саша, ты стал не только лучшим футболистом, но и лучшим бомбардиром лиги. Какой из забитых в сезоне мячей считаешь самым красивым?</h5>
                        <p>– Честно говоря, сложно назвать какой-то гол самым красивым…</p>
                        <br />
                        <h5>– Тогда какой гол был самым важным?</h5>
                        <p>– Важных было много. С «Гелиосом» в домашней игре вышел на замену и забил первый гол – мы повели в счёте. Мяч получился хорошим: развернулся в штрафной и забил.</p>
                        <br />
                        <h5>– А если брать в целом карьеру. Какой гол был самым красивым или самым важным?</h5>
                        <p>– Если за всю карьеру, то много красивых голов я забил в позапрошлом сезоне. Тогда я и через себя забивал, и перебрасывал вратарей, и пяточками забивал, и после индивидуальной обводки. В общем, есть что выбрать. А в этом сезоне головой забил хороший мяч «Полтаве»… Хотя, если честно, уже настраиваешься на новый сезон и то, что было в прошлых, забываешь.</p>
                        <br />
                        <h5>– Чтобы в новом сезоне голов было больше, чем в прошлых, да?</h5>
                        <p>– Ну да, хотелось бы… (смеётся).</p>
                        <br />
                        <h5>– Вообще, свои голы считаешь? Следишь за количеством, за статистикой? Знаешь, что ты уже в пятнадцати лучших бомбардирах лиги?</h5>
                        <p>– Да, за своей статистикой слежу. После игры с «Сумами» писали, что я уже подбираюсь к лучшим бомбардирам лиги. Надо забивать ещё и подниматься выше.</p>
                        <br />
                        <h5>– Как оценишь сезон, если учесть личные достижения? И как оценишь сезон для «Стали»?</h5>
                        <p>– Сезон получился неоднозначным. Сначала я был травмирован и пропустил сборы. Потом начал выходить на поле со скамейки запасных – приходилось доказывать, что достоин места в основе. Зимой прошёл сборы и начал играть. Концовку сезона играл с повреждением. Плюс было удаление, из-за ситуации в нашем регионе мы так и не сыграли с Краматорском, домашний матч проводили не на своём поле. В любом случае, хорошо, что удалось забить столько голов. Если бы в начале сезона мне сказали, что его итог получится таким – я бы не поверил. Хорошо, что всё так сложилось. Естественно, хорошо, что команда так выступала – если бы команда играла плохо, думаю, такого достижения у меня бы не было. Вообще, для «Стали» сезон можно назвать удачным, потому что наша команда опять в призёрах. Подводила нас игра на выезде. Дома, на своём стадионе, я считаю, мы играли хорошо – проиграли только две игры. А на выезде играли плохо, нестабильно – эту статистику надо будет поправлять.</p>
                        <br />
                        <h5>– Как команда начала подготовку к новому сезону?</h5>
                        <p>– В пятницу собрались в Алчевске, тренируемся. Но я сейчас травмирован, поэтому пока что не тренируюсь. Врачи говорят, что пропущу ещё около недели. Сборы планируются в Алчевске – через несколько дней команда перейдёт на работу в двухразовом режиме. </p>
                        <br />
                        <h5>– Что скажешь о напряжённой ситуации в Луганской области? Как она влияет на команду, на быт?</h5>
                        <p>– Плохо, что в концовке прошлого сезона нам не разрешили принимать соперников на своём стадионе, где мы, тьфу-тьфу-тьфу, играли неплохо. Вообще же, в городе спокойно, хотя никому не понравится та неопределённость, которая сейчас есть. На быт же ситуация особо не повлияла – разве что все стараются сидеть дома и никуда не выходить. В общем, ничего хорошего нет – может, некоторые ребята и ушли, потому что боятся здесь находиться. Это надо у них спрашивать. Как известно, треть команды уехала из Алчевска.</p>
                        <br />
                        <h5>– Скажешь несколько слов о себе? О своей семье?</h5>
                        <p>– Женился я в 22 года. В октябре пять лет будет нашему ребёнку – сына зовут Артём. Жена всё время ходит на футбол, мои родители и родители жены тоже переживают – постоянно на стадионе, болеют.</p>
                        <br />
                        <h5>– С недавних пор после каждого забитого гола ты передаёшь «привет» в виде знака сердца кому-то на трибуны… выработанная традиция?</h5>
                        <p>– Да, сейчас же это модно показывать разные знаки (смеётся). </p>
                        <br />
                        <h5>– Это какой-то персональный знак или просто «привет» всем родным?</h5>
                        <p>– Всем родным и близким, потому что они – мои самые преданные болельщики.</p>
                        <br />
                        <h5>– Как провёл отпуск?</h5>
                        <p>– Отдыхал с семьёй в Турции. Опять же, не обошлось без влияния этой непростой ситуации. Должны были полететь из Донецка, а полетели из Запорожья – пришлось добираться на поезде. Возвращаться должны были в Донецк, а вернулись в Киев – снова ночь в поезде. Неудобно. Хочется, чтобы поскорее был мир, и можно было спокойно выходить из дома и спокойно себя чувствовать. </p>
                        <br />
                        <h5>– Несколько слов о Чемпионате Мира. Твои впечатления? За кого болеешь?</h5>
                        <p>– Честно говоря, болел за Португалию, но она вылетела. Испания тоже вылетела. В общем, очень сильные команды вылетели. Думаю, немцы – фавориты. Ну и бразильцы. Мне нравятся латиноамериканские команды – молодцы. У себя на континенте им играется хорошо, а европейцы едут домой. Французы ещё могут «выстрелить». Украина всегда так – их кто-то обыграет, а потом дойдёт или до финала, или выиграет чемпионат. И получается, что наша команда проигрывает будущим триумфаторам. Так что, Франция может выиграть чемпионат.</p>
                        <br />
                        <h5>– В завершении интервью, скажешь несколько слов болельщикам?</h5>
                        <p>– Болельщикам сейчас я могу только посочувствовать. В Алчевске мы вряд ли будем играть, а на другие стадионы особо не наездишься. Пожелаю болельщикам запастись терпением и дождаться тех времён, когда «Сталь» будет играть в Премьер-лиге, на хорошем стадионе с комфортными условиями для зрителей. Ждать, верить и поддерживать команду. Хочу сказать болельщикам спасибо за поддержку в сезоне, потому что у нас есть преданные болельщики, которые всегда приходят на стадион – для них и играем.</p>
                        
                        
                </div>
            </div>
        </div>
        <div class="news_box_close">
            <div class="img_close_news"></div>
        </div>
    </div>