<div class="news_box">
        <div class="news_box_content">
            <div class="article">
                <!-- Заголовок новости -->
                <div class="article_header">
                    <header class="article_header_text">
                        <h1><%=headerNews %></h1>
                        <div class="article_header_info">
                            <span class="date">
                                <img src="img/icon/schedule-button.png" />
                                <%=dateNews %>
                            </span>
                            <span class="autor">
                                Артур Валерко <a href="http://sportarena.com/">Sport Arena</a>
                            </span>
                        </div>
                    </header>
                </div>
                <!-- Фотография к новости -->
                <div class="article_img">
                    <div class="article_bcimg" style="background-image:url('../img/<%=imgHeader %>')"></div>
                </div>
                <!-- Текст новости -->
                <div class="article_content">
                        <p>В прошлом сезоне Нгаха Колинс был капитаном старожила первой лиги, алчевской Стали, но с исчезновением команды пропал с поля зрения и камерунский полузащитник. Однако в новом чемпионате Колинс вновь заиграл в турнире, и снова с капитанской повязкой, только теперь уже в «воскресшем» краматорском Авангарде.</p>
                        <p>Кроме того, на прошлой неделе игрок был замечен в Киеве на сборах Ассоциации футболистов-профессионалов Украины. Собственной, с этой темы и началась беседа Нгахи Колинса с журналистом Sport Arena, в которой футболист рассказал о впечатлениях от нового сезона в первой лиге, и о том, как он оказался в Краматорске.</p>
                        <p>— Да, на съезде я был один из делегатов, представляя футбольный клуб Авангард, – рассказал Колинс. – От каждой команды было по два представителя, и со мной ещё был наш центральный защитник Константин Чаус. На этом собрании мне посчастливилось увидеться и пообщаться со многими футболистами. Кроме того, так как я был в президиуме, повезло посидеть рядом с такими важными персонами в украинском футболе, как Пётр Иванов, генеральный директор Премьер-лиги, и тренерами Мироном Маркевичем, Вячеславом Грозным, Леонидом Буряком. В целом, получилась очень плодотворная встреча — от неё осталась масса положительных эмоций. Спасибо Игорю Фёдоровичу Гатауллину за отличную организацию мероприятия.</p>

                        <h5>— Были ли приняты какие-то интересные решения на конференции?</h5>
                        <p>— Так как эта организация занимается защитой интересов и прав футболистов, обсуждали пути для решения проблем невыплаты зарплат клубами. Стоял острый вопрос: как заставить клубы выплачивать долги перед футболистами в контексте экономического кризиса – к консенсусу так и не пришли. Выступали и футболисты и функционеры: больше всех, и тут можно понять почему, об этой теме рассказал главный тренер Говерлы Вячеслав Грозный. В итоге, приняли одно важное решение, но о его выполнении мне пока что ничего не слышно – думаю, работа в этом направлении ведётся.</p>
                        <br />
                        <h5>— Как у тебя дела в Авангарде?</h5>
                        <p>— У меня в Краматорске всё хорошо. У нас отличный коллектив, а я — капитан команды. Тренерский штаб очень квалифицированный, ну а самое главное: люди тут ходят на стадион при любой погоде, очень активно болеют за команду. Это очень вдохновляет! Начали мы сезон неважно, но уже сыгрались и теперь у нас реально боеспособная команда.</p>
                        <br />
                        <h5>— Как оказался в Краматорске?</h5>
                        <p>— После распада футбольного клуба Сталь я выступал за ФК Винница в аматорском чемпионате Украины. Потом со мной связалось руководство Авангарда, предложив переехать в Краматорск.</p>
                        <br />
                        <h5>— Уехал не раздумывая?</h5>
                        <p>— Честно говоря, попросил дать время подумать. Но меня заверили, что всё в городе спокойно и, посоветовавшись с семьёй и друзьями, я решил поехать. Теперь ни о чём не жалею, поскольку тут всё действительно хорошо и спокойно! В каждой игре стремимся побеждать и радовать болельщиков!</p>
                        <br />
                        <h5>— Как тебе нынешний уровень первой лиги?</h5>
                        <p>— В целом, уровень неплохой. Все команды почти одинаковые: уже нет таких явных лидеров, как бывало раньше. Любая команда может отобрать очки у любой другой, и тем интереснее!</p>

                </div>
            </div>
        </div>
        <div class="news_box_close">
            <div class="img_close_news"></div>
        </div>
    </div>