<div class="news_box">
        <div class="news_box_content">
            <div class="article">
                <!-- Заголовок новости -->
                <div class="article_header">
                    <header class="article_header_text">
                        <h1><%=headerNews %></h1>
                        <div class="article_header_info">
                            <span class="date">
                                <img src="img/icon/schedule-button.png" />
                                <%=dateNews %>
                            </span>
                            <span class="autor">
                                Артем Цыганенко <a href="https://www.ua-football.com/">UA-Футбол</a> 
                            </span>
                        </div>
                    </header>
                </div>
                <!-- Фотография к новости -->
                <div class="article_img">
                    <div class="article_bcimg" style="background-image:url('../img/<%=imgHeader %>')"></div>
                </div>
                <!-- Текст новости -->
                <div class="article_content">
                        <p>Среди восьми игроков, пополнивших «Сталь» в межсезонье, оказалось два футболиста, уже знакомых алчевским болельщикам. Но если Роман Локтионов вернулся в клуб после годичного перерыва, то Дмитрия Назаренко не было в Алчевске три с половиной года. При этом защитник возвращается в «Сталь» уже во второй раз: летом 2009 года Назаренко перешёл из «Стали» в армянский «Бананц», весь 2010 год он снова провёл в Алчевске, а 2011 год начал в Александрии.</p>
                        <p>Первый вопрос в интервью с корреспондентом UA-Футбол был о чувствах, которые Дмитрий Назаренко испытал от возвращения в Алчевск.</p>
                        <p><strong>Дмитрий Назаренко:</strong> – Вернулся как к себе домой. «Сталь» для меня – родной клуб. Всё настолько родное, будто и не уезжал отсюда. Остались ребята, которые уже играли вместе со мной в Алчевске, поэтому не было ощущения, что пришёл в новую команду. Тот же тренерский состав, тренировки похожие – не пришлось долго «вливаться», всё было нормально с первого дня. Повторюсь, пришёл с чувством, что и не уходил отсюда. Рад вернуться в Алчевск.</p>
                        <h5>– Как проходила подготовка к сезону? Всё время были в Алчевске?</h5>
                        <p>– Да, всё время были в Алчевске. Тренировались в двухразовом режиме, в последнюю неделю перешли к одноразовому – готовились непосредственно к первой игре чемпионата. Проводили только двусторонние игры и матчи со второй командой.</p>
                        <br />
                        <h5>– Не боялся ехать в Алчевск, учитывая ситуацию в регионе?</h5>
                        <p>– Я же из Донецка… что там воюют, что здесь воюют. Ничего страшного. А что делать? Нужно семью кормить. Будем надеяться, что скоро всё это закончится. Хотелось бы, чтобы всё успокоилось побыстрее.</p>
                        <br />
                        <h5>– Из Донецка в Алчевск на чём добирался? Машина, автобус, поезд?</h5>
                        <p>– На машине не получается. Такая обстановка, что машины забирают… доехал на поезде. Вообще, у меня жена из Луганска, так что последнее время я был в Луганске. Но сейчас семья в Донецке – лишний раз перевозить их куда-то страшно, потому что у меня маленький ребёнок. Может, вообще нужно бы увезти семью в более безопасный регион. Были такие мысли, но всё думали, что ситуация наладится…</p>
                        <br />
                        <h5>– Дима, за период отсутствия в «Стали» ты успел сыграть в ФК «Полтава», где провёл всего один матч. Почему не сложилась карьера в этой команде?</h5>
                        <p>– В первом же матче получил травму и начал лечиться. Клуб решил, что я должен лечиться за свой счёт, поэтому когда вылечился – возвращаться туда не захотел.</p>
                        <br />
                        <h5>– А что скажешь о краткосрочном пребывании в Армении?</h5>
                        <p>– От донецкого «Металлурга» ездили в аренду. «Бананц» тогда играл в Лиге Европы. Пробыли там полгода.</p>
                        <br />
                        <h5>– Как чувствуешь, насколько сильна, насколько сыграна сейчас «Сталь»?</h5>
                        <p>– Будем сыгрываться в ходе сезона, потому что много ребят ушли – много новых пришли. Но это обычный процесс – думаю, всё будет нормально. А по поводу силы – посмотрим в чемпионате, сейчас не могу ничего сказать. Но тоже думаю, что всё будет нормально. Всё-таки, в команду пришли хорошие ребята.</p>
                        <br />
                        <h5>– Насколько сложно обстоятельство, что первую домашнюю игру сезона придётся проводить не в Алчевске, а в Карловке?</h5>
                        <p>– Конечно, это не родной стадион. Но в Украине сейчас такая обстановка… хорошо, что вообще есть чемпионат, что в Алчевске есть команда. Будем настраиваться – что ж делать? Выбора у нас нет.</p>
                        <br />
                        <h5>– В стартовой игре сезона «Сталь» сыграет с «Зиркой». Что скажешь по сопернику? Как они готовились к чемпионату?</h5>
                        <p>– О том, как они готовились, читал в Интернете. Хорошо знаю их тренера, Анатолия Бузника – он был моим тренером в сборной. При нём расслабленности не будет – думаю, там сейчас хорошая команда, хороший коллектив. Так что, думаю, первый матч сезона будет интересным. Тем более, как я слышал, у них стоит задача выхода в Премьер-лигу – в первой игре они будут стараться, чтобы показать себя.</p>
                        
                </div>
            </div>
        </div>
        <div class="news_box_close">
            <div class="img_close_news"></div>
        </div>
    </div>