<div class="news_box">
        <div class="news_box_content">
            <div class="article">
                <!-- Заголовок новости -->
                <div class="article_header">
                    <header class="article_header_text">
                        <h1><%=headerNews %></h1>
                        <div class="article_header_info">
                            <span class="date">
                                <img src="img/icon/schedule-button.png" />
                                <%=dateNews %>
                            </span>
                            <span class="autor">
                                Владимир Коцур <a href="https://1football.info/">1football.info</a>
                            </span>
                        </div>
                    </header>
                </div>
                <!-- Фотография к новости -->
                <div class="article_img">
                    <div class="article_bcimg" style="background-image:url('../img/<%=imgHeader %>')"></div>
                </div>
                <!-- Текст новости -->
                <div class="article_content">
                        <p>Спортивный директор алчевской «Стали» рассказал 1football.info о непростых сегодняшних буднях его клуба.</p>
                        <h5>— Один из самых стабильных клубов первой лиги, и ее постоянный фаворит — алчевская «Сталь», взяла старт ни шатко, ни валко…</h5>
                        <p>— А что вы хотите, если у «Стали», по сути, отсутствует тренировочный процесс? Посудите сами: к примеру, если команда играет 5 числа, то мы собираемся за два дня и едем на выезд, или в Карловку, что на Полтавщине. Там мы и проводим домашние матчи. А после игр футболисты разъезжаются кто куда. Вот в таком ритме сейчас и живем.</p>
                        <br />
                        <h5>— А где базируется команда?</h5>
                        <p>— Как таковой базы сейчас у нас нет. Я же говорил, что мы собираемся за два дня до игры и все. Вот команда сейчас работает уже в Карловке, где готовится к "домашнему" матчу с Нивой. Дальше по календарю у нас выезд в Николаев, где играем 11 числа. По нашим планам 8 числа вечером мы уже должны быть там, и уже на месте будем готовиться. А так футболисты живут кто где, кто в Алчевске, других городах Донбасса, а кто уехал и снимает квартиру в иных местах.</p>
                        <p>От себя скажу, что очень тяжело играть, когда у тебя нет учебно-тренировочного процесса. Мы же не на первенство района играем. Первая лига это довольно серьезный уровень. А так после проведенных матчей игроки на несколько дней предоставлены сами себе. Кто-то добросовестно относится к своим обязанностям, и работает самостоятельно, а кто-то пренебрегает и этим. А у некоторых попросту нет даже условий для таких занятий. И то, что на сегодняшний день мы набрали 12 очков, это если не подвиг, то очень приличный результат.</p>
                        <br />
                        <h5>— Новое руководство ПФЛ вам помогает выживать в таких условиях?</h5>
                        <p>— Помогает — не то слово. О помощи, как таковой, от ПФЛ говорить не приходиться. Мы обратились туда с просьбой, чтобы нам в первом круге сделали все матчи гостевыми. Ведь мы и так играем в гостях. Ну, а потом, если ситуация в Алчевске образуется, весной играли бы все матчи уже дома. Ведь у нас так и смета расходов составлена, где половина матчей гостевых, а другая половина домашних. К сожалению, нам на встречу не пошли.</p>
                        <br />
                        <h5>— А чем был мотивирован отказ?</h5>
                        <p>— Отказ мотивировали тем, что в таком случае будет отсутствовать спортивный принцип. Ведь в заключительной части сезона может быть очень горячо, и будет решаться судьба путевок в Премьр-лигу. Сказали, что будет битва. Да какая битва? Сейчас в Премьер-лигу никто не хочет. Вы что, видите очередь, чтобы попасть в "элиту"?</p>
                        <p>Исключение составляет лишь Буковина, руководство которой нам пошло навстречу, и мы свой домашний матч отыграли в Черновцах. А так ни президент ПФЛ Макаров, ни другие, на наши просьбы не реагируют.</p>
                        <br />
                        <h5>— А Вы в Алчевске давно бывали?</h5>
                        <p>— Да нет, три дня как оттуда. Отмечу, что сейчас в городе стало больше людей. Но здесь нужно учитывать и тот факт, что и деньги во многих заканчиваются, так что возвращаются домой. А в Алчевске более-менее спокойно, да и бомбежек, как таковых, у нас тоже почти не было. Была одна, на окраине города, вот и все. Вижу, что жизнь потихоньку начинает налаживаться. Открываются магазины, работают рынки. В домах есть свет и вода.</p>
                        <br />
                        <h5>— В каком состоянии стадион?</h5>
                        <p>— Стадион цел, но тренироваться там некому. Наши футболисты особо не горят желанием работать в Алчевске. Это как вариант, и мы его будем рассматривать, хотя все равно есть риски. Ведь надо ехать через Дебальцево, а там, как известно, идут бои. Надеемся, что это бессмысленное братоубийство когда-нибудь да закончиться.</p>
                        <br />
                        <h5>— О задачах на сезон, наверное, спрашивать излишне?</h5>
                        <p>— Да какие задачи. Даже если бы и ставили, то в Премьер-лигу кто нас пустит? Вы же видели, ну завоевали мы путевку высший и свет. И что? Нас туда никто не пустил. Так что просто играем в свое удовольствие. Единственное, хотелось бы еще это самое удовольствие дарить и нашим болельщикам, но пока не получается.</p>
                        
                </div>
            </div>
        </div>
        <div class="news_box_close">
            <div class="img_close_news"></div>
        </div>
    </div>