<div class="news_box">
        <div class="news_box_content">
            <div class="article">
                <!-- Заголовок новости -->
                <div class="article_header">
                    <header class="article_header_text">
                        <h1><%=headerNews %></h1>
                        <div class="article_header_info">
                            <span class="date">
                                <img src="img/icon/schedule-button.png" />
                                <%=dateNews %>
                            </span>
                            <span class="autor">
                                Александр Панфилов («Украинский Футбол»)
                            </span>
                        </div>
                    </header>
                </div>
                <!-- Фотография к новости -->
                <div class="article_img">
                    <div class="article_bcimg" style="background-image:url('../img/<%=imgHeader %>')"></div>
                </div>
                <!-- Текст новости -->
                <div class="article_content">
                        <p>В одном из последних номеров газеты «Украинский Футбол» вышел материал, посвященный первым тренерам игроков Национальной сборной. О Евгении Селине, выступающем сейчас в полтавской «Ворскле» рассказал директор детско-юношеской футбольной школы «Стали» Вячеслав Францев, работавший с группой ребят 1988 года рождения:</p>
                        <br />
                        <h5>– Вячеслав Максимович, приходилось видеть вживую выездные матчи бывшего подопечного в составе сборной?</h5>
                        <p>– Нет. Летом, когда сборная Украины играла на чемпионате Европы, Евгений доставал мне билеты на два донецких матча – против англичан и французов. А вот на выездах бывать не приходилось.</p>
                        <br />
                        <h5>– И какие впечатления от игры Евгения?</h5>
                        <p>– Все наши игроки сыграли одинаково посредственно. Кого выделять не стоит. Почему так? Возможно, сказалось самоуверенность, может, не настроились как следует, может, не хватило Олега Блохина.</p>
                        <br />
                        <h5>– Каким помните Селина в детстве?</h5>
                        <p>– Прежде всего – настойчивым. Природа ему кое-что дала, но большим трудолюбием он сам. Когда нашли Евгения, он только закончил пятый класс. Приехали, поговорили и забрали к себе в Алчевск. В Алчевске Женя жил вместе с мужиками-работягами в заводском общежития. Если бы Евгений не хотел играть в футбол, то еще бы тогда об этом сказал. А он работал. И результат видите.</p>
                        <br /><br />
                        <img src="img/Selin_Frantsev.jpg" />
                        <br /><br />
                        <h5>– Евгения сразу отправили в оборону?</h5>
                        <p>– Да. Жека всегда выполнял эти функции, играл и на фланге, и в центре.</p>
                        <br />
                        <h5>– Поддерживаете с ним отношения?</h5>
                        <p>– Конечно. Селин – скромный парень, всегда протянет руку помощи, позвонит. Мы с ним постоянно на связи. Он не зазнается, как некоторые бывшие воспитанники, которые забыли даже имя своего первого тренера. Евгений – не такой.</p>
                        <br />
                        <h5>– Можно ли утверждать, что Евгений Селин – ваш самый лучший воспитанник?</h5>
                        <p>– Если учесть, что он играет за национальную сборную, то так оно и есть.</p>
                        
                </div>
            </div>
        </div>
        <div class="news_box_close">
            <div class="img_close_news"></div>
        </div>
    </div>