<div class="news_box">
        <div class="news_box_content">
            <div class="article">
                <!-- Заголовок новости -->
                <div class="article_header">
                    <header class="article_header_text">
                        <h1><%=headerNews %></h1>
                        <div class="article_header_info">
                            <span class="date">
                                <img src="img/icon/schedule-button.png" />
                                <%=dateNews %>
                            </span>
                            <span class="autor">
                                Артем Цыганенко <a href="https://www.ua-football.com/">UA-Футбол</a>
                            </span>
                        </div>
                    </header>
                </div>
                <!-- Фотография к новости -->
                <div class="article_img">
                    <div class="article_bcimg" style="background-image:url('../img/<%=imgHeader %>')"></div>
                </div>
                <!-- Текст новости -->
                <div class="article_content">
                        <p>Среди футболистов, пополнивших алчевскую «Сталь» в зимнее межсезонье, оказался Максим Дегтярёв – воспитанник «Стали», который и профессиональную карьеру начинал в Алчевске. Полтора года назад нападающий перешёл в донецкий «Металлург», но, так и не закрепившись в основном составе команды Премьер-лиги, молодой футболист вернулся в «Сталь»: с алчевцами Максим Дегтярёв заключил арендное соглашение.</p>
                        <p>Интервью с корреспондентом UA-Футбол 20-летний футболист начал с подведения итогов учебно-тренировочных сборов «Стали».</p>
                        <p><strong>Максим Дегтярёв:</strong> – Сборы прошли хорошо. Сделали всё то, что планировали: тренировались в Турции 20 дней, провели 6 спаррингов. Думаю, подготовились качественно. Теперь, до игры с «Сумами», будем работать по одной тренировке в день. Будем готовиться к старту весенней части первенства.</p>
                        <br />
                        <h5>– Что скажешь о соперниках по спаррингам?</h5>
                        <p>– Очень понравилась команда «Ордабасы». Мы её обыграли 2:1. «БАТЭ» – тоже очень хорошая команда. Проиграли им 0:1, но играли хорошо – не реализовали много моментов. Российские команды тоже неплохие, но уровень слабее, конечно.</p>
                        <br />
                        <h5>– А как тебе загадочная швейцарская команда «Хамисисия»?</h5>
                        <p>– Ой, швейцарская команда… (улыбается) Не знаю, с какой они лиги, но команда эта очень слабая. Матч с ними был больше как тренировка.</p>
                        <br />
                        <h5>– Из-за событий, происходивших в Украине, сильно волновались? </h5>
                        <p>– Да, каждый день смотрели телевизор – переживали, конечно. Очень хочется, чтобы всё поскорее наладилось, но ещё ничего не стабилизировалось.</p>
                        <br />
                        <h5>– Когда вернулись домой, и увидели, что в реальности всё не так уж страшно, немножко успокоились?</h5>
                        <p>– Да, как я понял, делают много провокаций, которые потом показывает телевиденье. Бывает, люди поддаются этому, и начинается паника. А на самом деле, слава Богу, всё тихо. После приезда я успел побывать и в Донецке, и в Алчевске, и в Луганске – везде спокойно, и это хорошо.</p>
                        <br />
                        <h5>– Как возник вариант с возвращением в «Сталь»?</h5>
                        <p>– Молодёжный состав «Металлурга» решили омолаживать. Начали подпускать ребят из команды U19: футболистов 1995 года рождения. А в первой команде, в связи с тем, что у них стоит задача попасть в Лигу Европы, сказали, что будут делать акцент на 15 основных исполнителях. В общем, объяснили, что в первой команде игровой практики не будет, а в молодёжном составе уровень слабее, так что всё свелось к тому, чтобы играть в первой лиге – «оббиваться» там. Предлагали несколько команд первой лиги, но, к примеру, я сразу выбрал «Сталь». Во-первых, потому что был здесь – тут всё родное. Да и просто потому, что «Сталь» – очень хорошая команда. Надеюсь, всё сложится нормально.</p>
                        <br />
                        <h5>– У тебя аренда в Алчевске до окончания сезона или года?</h5>
                        <p>– Аренда до конца сезона. В «Металлурге» будут смотреть, как я доиграю в первенстве – дальше будет видно.</p>
                        <br />
                        <h5>– Как тебя приняли в «Стали»?</h5>
                        <p>– Приняли очень хорошо, потому что большинство футболистов знал и раньше. Адаптация прошла очень быстро – можно сказать, за два-три дня. Тем более, с командой прошёл все сборы. Коллектив очень хороший, так что теперь всё также, как и было до моего ухода в «Металлург».</p>
                        <br />
                        <h5>– Вадим Плотников по-прежнему задействует тебя в качестве нападающего и правого полузащитника?</h5>
                        <p>– На этих позициях, ну и ещё под нападающим.</p>
                        <br />
                        <h5>– Пока был в Донецке, следил за «Сталью» и вообще за первой лигой?</h5>
                        <p>– Да, следил – старался смотреть все матчи, которые показывали по «Футболу». Когда получалось – приезжал в Алчевск на домашние матчи «Стали». Мне кажется, первая лига стала намного сильнее, нежели в те годы, когда я был здесь. В первой лиге играют много футболистов, которые раньше играли в Премьер-лиге. Серьёзно укрепились «Олимпик» и «Александрия», так что первенство слабым не назовёшь. Будет интересно.</p>
                        <br />
                        <h5>– А что скажешь о ближайшем сопернике алчевцев – «Сумах», с которыми «Сталь» сыграет уже в ближайшую субботу?</h5>
                        <p>– О «Сумах» мало что знаю. Но, кстати, когда «Сталь» играла в Сумах, этот матч показывали по телевизору. Я смотрел эту игру: тогда алчевцы выиграли со счётом 3:1. «Сумы» смотрелись неплохо, но «Сталь» обыграла их уверенно. Да, думаю, легко не будет с любым соперником, но «Сталь» сейчас сильнее, так что в субботу должны выигрывать.</p>
                        
                </div>
            </div>
        </div>
        <div class="news_box_close">
            <div class="img_close_news"></div>
        </div>
    </div>