<div class="news_box">
        <div class="news_box_content">
            <div class="article">
                <!-- Заголовок новости -->
                <div class="article_header">
                    <header class="article_header_text">
                        <h1><%=headerNews %></h1>
                        <div class="article_header_info">
                            <span class="date">
                                <img src="img/icon/schedule-button.png" />
                                <%=dateNews %>
                            </span>
                            <span class="autor">
                                Дмитрий Трубецкой («Футбольное обозрение»)
                            </span>
                        </div>
                    </header>
                </div>
                <!-- Фотография к новости -->
                <div class="article_img">
                    <div class="article_bcimg" style="background-image:url('../img/<%=imgHeader %>')"></div>
                </div>
                <!-- Текст новости -->
                <div class="article_content">
                        <p>В каждой команде есть футболисты, без которых нельзя представить. Бывает так, что забываются игры, иногда даже достижения клуба, а игрок всегда остается в памяти. В алчевской «Стали» за 20-летнюю историю выступлений в чемпионате Украины таких было несколько. Но, пожалуй, особняком стоит один, коренной алчевец Андрей Цвик.</p>
                        <p>В минувшую среду экс-полузащитник «Стали», а ныне тренер алчевской команды отметил свое сорокалетие. Он, как всегда, весел и улыбчив, и кажется, что улыбка с его лица сходит очень редко, а чувство горести и печали ему совсем незнакомо.</p>
                        <br />
                        <h5>– Андрей, как все начиналось?</h5>
                        <p>– В 10 лет записался в футбольную секцию алчевской ДЮСШ «Коммунарец», а 1986 году Анатолий Иванович Волобуев позвал в команду «Строитель».</p>
                        <br />
                        <h5>– Как в детстве представлялся футбольный мир? В радужных цветах или уже тогда понял: для того, чтобы чего-то достичь в футболе, надо много работать?</h5>
                        <p>– Мы не думали о футболе как о профессии, да тогда такой и не было. Играли в свое удовольствие. После тренировки, приходили во двор и опять играли. Не было никакой усталости. Сейчас редко где увидишь, что в футбол играют, а раньше в каждом дворе, на каждом пустыре мяч гоняли. Я даже телевизор тогда редко смотрел, потому что все больше времени сам с мячом проводил. Да и футбол показывали в то время нечасто. Больше фамилии футболистов были на слуху, а игры самой как таковой не видел.</p>
                        <br />
                        <h5>– В каком возрасте попал во взрослую команду?</h5>
                        <p>– К «основе» меня начали привлекать с 16 лет, потихоньку выпуская на замену. А когда мы в 1989 играли в первенстве КФК, я уже стал игроком основного состава.</p>
                        <br />
                        <h5>– Как приняли в команде? Дедовщина была? </h5>
                        <p>– Все игроки были местными, из одного города. Наоборот, как-то молодежь поддерживали. Даже не помню, чтобы я мячи носил.</p>
                        <br />
                        <h5>– Неужели?</h5>
                        <p>– Нет, было конечно, но нас никто не заставлял. Ветераны могли мячи носить наравне с молодежью. Просто у нас самих было уважение к старшим, были так воспитаны. Это сейчас не заставишь молодежь мячи таскать, сразу возмущаются: «Почему я, есть же администратор?!».</p>
                        <br />
                        <h5>– Один мой коллега несколько лет назад спросил у руководившего тогда «Днепром» Олега Протасова, не станет ли маленький рост Карнозы, игравшего тогда в «дубле», на пути его профессионального роста. У вас таких проблем не возникало?</h5>
                        <p>– Нет. Это сейчас пошла тенденция с уклоном на высокорослых игроков, атлетов. Не знаю, почему. Хотя посмотрите на нынешнюю «Барселону»: у них полкоманды игроков невысокого роста. А у нас иногда бывает: ищут футболиста на определенную позицию и сразу спрашивают, какой у него рост. Если невысокий – часто отказывают. Да вы сначала посмотрите, как он играет. Много ведь примеров можно привести, когда люди маленького роста вырастали в классных игроков, футболистов мирового уровня.</p>
                        <br />
                        <h5>– Ты вот, например, несмотря на небольшой рост, немало голов забил головой.</h5>
                        <p>– Да, где-то четвертую часть мячей. Часто успешно играл на опережение, правильно выбирал позицию. Даже свой единственный мяч в высшей лиге донецкому «Шахтеру» забил головой. Многие из голов до сих пор в памяти держу и прокручиваю, как все происходило.</p>
                        <br /><br /><br />
                        <img src="img/R1bKzzUW7ls.jpg" />
                        <br /><br /><br />
                        <h5>– Еще во времена СССР ты успел поиграть с нынешним президентом «Стали». Как складывались отношения на поле, за его пределами?</h5>
                        <p>– В жизни это прекрасный человек. В бытность игроком к футболу относился очень трепетно. Уделял внимание каждой мелочи. Никогда не любил проигрывать, даже на тренировках в двухсторонних матчах. Руководил игрой всей команды, постоянно вел ее вперед. Есть у него, так сказать, дух победителя. Но и в то же время скромный, зря никогда человека не обидит. Грамотный, умный и игрок, и человек. Вспоминается его удар, сильный, хлесткий.</p>
                        <br />
                        <h5>– Чем запомнился 1991 год, когда «Сталь» после большого перерыва стала выступать среди команд мастеров?</h5>
                        <p>– Запомнилась финальная «пулька» за выход во вторую лигу. Тяжелый был турнир, нас никто к лидерам не относил. Соперники были непростые, но мы, пропустив вперед только сумской «Автомобилист», заняли второе место. Хотя потом все равно всех участников допустили к участию во второй лиге, так что можно было не напрягаться (смеется). Забив в пяти играх 5 мячей, я стал лучшим бомбардиром турнира. Вторая лига запомнилась, прежде всего, тяжелым календарем. Тогда в украинской зоне было 26 команд, играли по 50 матчей за сезон. Но ничего, все выдерживали. Сейчас столько матчей играют 2-3 команды, выступающие в чемпионате, Кубке страны, на евроарене. Но у них в отличие от нас «скамейка» будет подлиннее. Да и сезон у нас короче был в календарном плане. Начинали в апреле, а заканчивали в начале ноября. А сейчас играют одну игру в неделю и устают. Не зря многие говорят, что сейчас футболисты «тепличные». Мы вообще не представляли себе, как можно от футбола устать.</p>
                        <br />
                        <h5>– Кстати, в первом чемпионате Украины команды первой лиги менее чем за 4 месяца сыграли по 26 матчей. </h5>
                        <p>– Совершенно верно. Дома не были больше недели, играли по три выездных матча через два дня на третий. «Бороздили» просторы Украины на обычном «Икарусе». Иногда за выезд «накручивали» по 3 тысячи километров, и ничего, не роптали. Можно сказать, трудностей не замечали.</p>
                        <br />
                        <h5>– Автобус, наверное, для вас вторым домом был?</h5>
                        <p>– Что-то вроде этого. А вообще, мы в те годы на автобусе столько проехали, что некоторые на самолете столько не налетали. В Болгарию и Румынию ездили через всю Украину. Все на том же «Икарусе», выпущенном еще во времена СССР. Один раз в пути были 36 часов. В Румынии нас застал снегопад, застряли, так мы всей командой автобус толкали. Объезжали заносы по полям, и ничего, приехали на сборы веселые, довольные. Наверное, прежде всего потому, что мы любили футбол. А сейчас прежде, чем куда-то перейти, пробивают сначала себе контракт, подъемные. Поэтому у нас футбол не прогрессирует: сначала думают о деньгах, а не о самой игре. Для нас футбол был частью жизни, а для многих нынешних игроков это просто работа.</p>
                        <br />
                        <h5>– Да и зарплаты у вас были намного меньше, чем сейчас. Обиды нет?</h5>
                        <p>– Размышляешь об этом иногда. Но какая может быть обида? Жизнь другая была, зарплаты другие. Мы не виноваты, что раньше не такие большие, как сейчас, деньги крутились в футболе, а нынешние игроки не виноваты в нынешних зарплатах. Просто иногда смотришь на футболистов и видишь, что многие не заслуживают таких зарплат. Если человек заслуживает, то можно за него только порадоваться, пусть зарабатывает. Но зависти никакой нет, зависть – плохое чувство.</p>
                        <br />
                        <h5>– Вернемся в начало 90-х. Выходя на поле против опытных футболистов, дрожь в коленках чувствовали?</h5>
                        <p>– Да нет, на поле все забывалось. Бывало, перед матчем какое-то волнение испытывал, а на газон ступил – все, об этом не думаешь. Забываешь, сколько тебе лет, как ты себя чувствуешь. Не думаешь, получишь ты травму или нет. Мысли только о команде и результате. Те, у кого было волнение, так и оставались сидеть «на лавке».</p>
                        <br />
                        <h5>– Манько, Полушин, Старцев, Плотников… Вы играли вместе много лет. Были ли в команде какие-либо «группировки»?</h5>
                        <p>– Никогда такого не было. У нас всегда был коллектив. Наверное, благодаря Анатолию Ивановичу. При нем всегда была хорошая атмосфера в команде. Мы и раньше дружили, и сейчас дружим. Созваниваемся. И не только с этими ребятами, но и с Арефьевым, Вертелецким, Кучиркой.</p>
                        <br />
                        <h5>– Что было приятнее – самому забить или отдать сопернику голевой пас?</h5>
                        <p>– Скажу так: и то, и другое. Выполняя на поле функцию крайнего хава, легче передачу отдать, чем забить, но, тем не менее, и голов я достаточно забил. Сейчас, пожалуй, ассистенту достается не меньше лавров, чем автору гола, причем многие издание ведут статистику, как в хоккее, по системе «гол+пас». В наше время, конечно, передачи тоже ценились, но в основном аплодировали авторам голов.</p>
                        <br />
                        <h5>– С кем из партнеров находил наилучшее взаимопонимание?</h5>
                        <p>– Плотников и Арефьев много с моих передач забили, с Манько хорошо взаимодействовали.</p>
                        <br />
                        <h5>– С Анатолием Волобуевым вы вместе почти 25 лет. Можешь ли его назвать своим вторым отцом?</h5>
                        <p>– Конечно, ведь, по сути, футбол – это моя жизнь, а Анатолий Иванович сделал из меня футболиста. Вся карьера прошла под его началом, да и работаю сейчас под его руководством.</p>
                        <br />
                        <h5>– Наверняка к тебе обращались представители других клубов с предложением перейти в их команду?</h5>
                        <p>– Было такое. Не о всех предложениях я, конечно, знаю. Ведь раньше агентов не было, обращались, прежде всего, к тренерам. Впервые мною интересовались в 1990 году, после той самой «пульки», о которой я уже вспоминал. Не знаю, сколько было всего клубов, но 3 из них через год выступали в высшей лиге Украины. Однако Анатолий Иванович сказал: не торопись, тебе еще рано. Вот я и не торопился (смеется).</p>
                        <br />
                        <h5>– Что за клубы?</h5>
                        <p>– Даже не знаю, обращались ведь не ко мне.</p>
                        <br />
                        <h5>– Сейчас узнать интересно?</h5>
                        <p>– Я думаю, уже и Анатолий Иванович не помнит.</p>
                        <br />
                        <h5>– Позже предложения были?</h5>
                        <p>– Яковенко в Элисту приглашал, когда «Уралан» выходил в высшую лигу. Фоменко в «Металлист» звал. Тогда из Алчевска в Харьков перебрались Плахотин и Моргунов. Я же отказался, а второй раз меня звать не стали.</p>
                        <br />
                        <h5>– В недавнем интервью Анатолий Волобуев сказал, что «Сталь» никогда, скажем так, не «жировала». Неужели даже финансовые блага не толкнули тебя на переход?</h5>
                        <p>– Деньгами все измерить нельзя. И тогда, и сейчас считаю, что это не главное. Да, может чего-то не заработал, но и не бедствовал. Зато всегда был вместе с семьей, с женой, детьми. В жизни, как считаю, это немаловажный фактор.</p>
                        <br />
                        <h5>– Помню, как еще игроком встречали тебя после матча жена, дети…</h5>
                        <p>– Сын пять лет занимался футболом, потом борьбой, единоборствами – в общем, спортом занимался только для общего развития, так же, как и дочь.</p>
                        <br />
                        <h5>– Тебе было в свое время столько, сколько сейчас сыну, когда получил первую зарплату в футболе. На что потратил?</h5>
                        <p>– Да, мне было 18, а первая зарплата в «Строителе» была 80 рублей. Вот на что потратил, не помню. Скорее всего, отдал в семью, потому что у нас большого достатка не было. По тем временам это были нормальные деньги. Мама зарабатывала 120 рублей, а я – 80.</p>
                        <br />
                        <h5>– В 90-х у вас тоже были задержки в зарплате. Однако игроки нечасто по этой причине покидали клуб?</h5>
                        <p> Мы тогда и не думали уходить. Сейчас все игроки защищены контрактами, все знают, что им выплатят задолженность, а у нас такого не было, ни дисциплинарных взысканий, ничего.</p>
                        <br />
                        <h5>– Тем более, наверное, легче было покинуть клуб?</h5>
                        <p>– Не знаю, что ответить. Был коллектив, была команда. Даже не представлял, что из-за этого можно куда-то уйти, бросив родной город, родную команду. Вопросы все решались, и мы работали дальше.</p>
                        <br /><br /><br />
                        <img src="img/Cvik12345.jpg" />
                        <br /><br /><br />
                        <h5>– Вспомним 2000 год. «Сталь» вышла в высшую лигу. Твои ощущения?</h5>
                        <p>– Это незабываемо, но словами, конечно, ничего не объяснить. Было очень приятно, радостно, что мы добились этой цели. Радовались не только мы, а весь город. Ведь тогда на наши игры ходило по 7-8 тысяч болельщиков, и это было нормальное явление. Единственное, что омрачило радость выхода в высшую лигу, это то, что игроки не получили званий мастеров спорта. Уже через несколько лет узнал, что с нами поступили неправильно. Я все-таки спустя 5 лет это звание получил, когда «Сталь» второй раз в своей истории вышла в высшую лигу, теперь уже с первого места, а те ребята, что со мной играли, нет. Многим из них до сих пор обидно. А среди них очень много игроков, которые в свое время творили историю не только команды, но и всей первой лиги: Арефьев, Манько, Полушин, Старцев, Вертелецкий, да и многие другие.</p>
                        <br />
                        <h5>– Плотников…</h5>
                        <p>– Да нет, Вадим как раз мастера получил, но не за командные достижения. Все-таки он лучший бомбардир первой лиги за всю ее историю, забил более 100 голов.</p>
                        <br />
                        <h5>– Нашим чиновникам некогда обращать внимание на такие «мелочи», они сейчас кресло президента ФФУ поделить не могут.</h5>
                        <p>– А некоторые из игроков верят, что справедливость восторжествует. Думаю, что можно было бы и сейчас, спустя определенное время, присвоить звания мастеров спорта игрокам, которые их честно заслужили.</p>
                        <br />
                        <h5>– Андрей, из более 500 матчей, сыгранных за «Сталь», какие самые памятные?</h5>
                        <p>– Самые интересные матчи всегда были с «Шахтером» и «Динамо». Запомнились игры с «Шахтером» на Кубок, когда выиграли дома со счетом 3:1, когда вничью (0:0) сыграли. На этих поединках всегда был полный стадион, и при такой поддержке болельщиков проиграть было просто нельзя.</p>
                        <br />
                        <h5>– А четырехсотый матч свой в первой лиге помнишь?</h5>
                        <p>– Может быть, я его не запомнил бы, но перед игрой меня предупредили об этом, поэтому, естественно, в памяти он остался. Мы играли дома против «Нефтяника», выиграли со счетом 2:0. Я вышел в стартовом составе и на 79 минуте был заменен. Что касается игры, это, пожалуй, все. А так меня, конечно, все поздравили: и руководство клуба, и городские власти.</p>
                        <br />
                        <h5>– Алчевск – небольшой город. Часто ли бывает, что на прогулке к тебе подходят люди, просят автограф, сфотографироваться или просто здороваются?</h5>
                        <p>– Автограф или сфотографироваться – такое бывает очень редко, а вот здороваются постоянно. И раньше, в бытность игроком, и сейчас. Если есть время, всегда стараюсь остановиться, поговорить с людьми, ответить на вопросы.</p>
                        <br />
                        <h5>– Как считаешь, когда в Алчевске был настоящий футбольный бум?</h5>
                        <p>– Когда первый раз выходили в высшую лигу. Был сыгранный коллектив, почти вся команда была составлена из местных игроков, уроженцев Луганской области. Когда второй раз выходили в «вышку», уже было не то. Многие люди в команде поменялись, позже пришел новый тренер, местные игроки ушли, а на их место пришли иностранцы.</p>
                        <br />
                        <h5>– Кстати, как относишься к иностранцам на футбольном поле?</h5>
                        <p>– Отношусь нормально, но, считаю, что легионер должен быть на голову, а то и на две сильнее нашего игрока. Если он такой же по классу, нечего ему в команде делать. С другой стороны, все равно они нужны, ведь каждый вносит в игру команды колорит своей страны, культуру своего народа. Местные игроки также могут многому у иностранцев научиться.</p>
                        <br />
                        <h5>– А отношение к лимиту?</h5>
                        <p>– Лимит нужен, ведь мы же хотим, чтобы у нас была сильная сборная. Было время, когда игроков в сборную со скамейки запасных брали. В клубе не имели игровой практики, играли в первой лиге за вторую команду. Понятно, что это тренеры делали не от хорошей жизни, просто у них не было выбора. К нам приезжало играть «Динамо-2», и в составе выходили полкоманды «сборников».</p>
                        <br />
                        <h5>– Твое отношение к натурализации?</h5>
                        <p>– Категорически против. Считаю это неправильным. Ведь мы же сами устанавливаем такие лимиты, при которых украинские игроки в клубах составляют меньшинство, и потом натурализуем иностранцев. Считаю, что иностранцев в клубе должно быть не больше, чем украинцев, максимум 5 человек. Следовательно, это должны быть игроки высокого уровня. А у нас многие берут молодых перспективных бразильцев вместо того, чтобы дать шанс своим раскрыться. Последний пример – динамовец Андре. Когда он вышел в «основе» «Динамо» в кубковой игре со «Сталью», честно сказать, стало обидно за лидера нашего футбола…</p>
                        <br />
                        <h5>– Тем не менее «Бордо» за 2 млн. в аренду взял его… </h5>
                        <p>– Посмотрим, что он там покажет. То, что взяли, еще не значит, что он будет там играть. «Динамо» «сбагрило» его, и слава Богу, что отделались.</p>
                        <br />
                        <h5>– В «Стали» тоже за время, когда вы были игроком и когда тренером, прошли десятки иностранцев. Кто, по-вашему, соответствовал требованиям к профессионалу и действительно усилил игру команды?</h5>
                        <p>– Всегда румыны у нас были хорошие, не все, конечно, а, например, тот же Миря, один из первых легионеров «Стали». В 2005 году к нам Кирицэ из «Зенита» пришел, Мара из Испании.</p>
                        <br />
                        <h5>– Все же первые легионеры появились в дебютный сезон в «вышке». Каково было ваше отношение к ним?</h5>
                        <p>– По-всякому бывало. Обидно, конечно, что путевку завоевывали одни, а играли зачастую другие. Опять же легионеры разные были, и отношение к ним тоже.</p>
                        <br />
                        <h5>– Знали, что они получают больше вас. </h5>
                        <p>– Может, не сразу, но узнали. Конечно, недовольны были. Но дело не только в этом, их игра еще и не соответствовала тем зарплатам, что им платили.</p>
                        <br />
                        <h5>– А нынешние легионеры?</h5>
                        <p>– Нормальные, хорошие игроки и Коллинз, и Окана-Стази, оба уже давно играют в Украине, первый успел здесь и семьей обзавестись. Жена родом из Винницы, так, когда мы в первом круге там с «Нивой» играли, у него чуть ли не сектор личных болельщиков был, многочисленные родственники пришли поддержать.</p>
                        <br />
                        <h5>– Как считаете, они пропитаны «духом «Стали»?</h5>
                        <p>– Да.</p>
                        <br />
                        <h5>– Вообще, каков он, на ваш взгляд, «дух «Стали»? </h5>
                        <p> – Трудный вопрос. Наверное, прежде всего, нужно болеть за этот клуб, быть патриотом. Должен отдаваться не только полностью на поле, но и в жизни быть частью команды. Должен придерживаться ее традиций. Даже не знаю, как это можно объяснить, этим нужно просто жить, словами это передать нельзя (в этот момент голос Андрея, как показалось, немного дрогнул, видимо, вопрос действительно зацепил его за живое. – Д.Т.).</p>
                        <br />
                        <h5>– Много ли в «Стали» было таких игроков?</h5>
                        <p>– Раньше да, а сейчас их, наверное, единицы. Как это ни больно осознавать, но наше поколение, наверное, в этом плане было последним. Сейчас на первом плане – только деньги. Что бы мне ни говорили, я готов любому возразить: а что, нам не нужны были деньги? Или мы жили тогда лучше?</p>
                        <br />
                        <h5>– Алчевск дал Украине многих хороших игроков, среди которых Зубов и Котов. Что можно о них рассказать, чем запомнились?</h5>
                        <p>– Что можно сказать? Работали ребята в поте лица и добились своего. Мы вместе не так уж много поиграли, оба молодыми покинули команду, потом опять же оба на небольшое время возвращались: Женя в 10 чемпионате, когда мы вышли в высшую лигу, а Гена в 15, когда опять же играли в элите. Сейчас встречаемся. Котова чаще вижу, он в Алчевске, собираемся вместе, когда с другими ветеранами в футбол играем.</p>
                        <br />
                        <h5>– Ты сказал, с ветеранами. А не было желания еще поиграть в свое время? Ведь бутсы повесил, когда команда повысилась в классе, мог еще себя проявить?</h5>
                        <p>– Желание было, но в том, что выдержу нагрузки Премьер-лиги, не был уверен. Все-таки возраст (было 34 года), да и травмы давали о себе знать. А уходить, я считаю, нужно красиво, а не доигрывать где-то.</p>
                        <br />
                        <hr />
                        <br /><br />
                        
                        <h5>Досье Цвик Андрей Степанович Тренер ФК «Сталь» (Алчевск).</h5>
                        <p>Родился 9 февраля 1971 года в Алчевске (тогда Коммунарск).</p>
                        <p>Воспитанник ДЮСШ «Коммунарец» (первый тренер – Г.К.Чернощеков).</p>
                        <ol>
                            <li>
                                <p><strong>Игровая карьера:</strong></p>
                                <p>Выступал за команду «Сталь» Алчевск (1987 - 2005).</p>
                                <p>Сыграл за команду «Сталь» на профессиональном уровне <strong>528 матчей</strong> забил 58 голов</p>
                                <ul>
                                    <li>чемпионат СССР: вторая лига – 49 матчей, 7 голов;</li>
                                    <li>чемпионат Украины: высшая лига – 14 матчей, 1 гол;</li>
                                    <li>чемпионат Украины: первая лига – 429 матчей, 43 гола;</li>
                                    <li>Кубок Украины – 36 матчей, 7 голов).</li>
                                </ul>
                            </li>
                            <li>
                                <p><strong>Тренерская карьера:</strong> с июня 2005 по май 2007 года – тренер ФК «Сталь» (дубль); с июня 2007 года – тренер ФК «Сталь».</p>
                            </li>
                            <li>
                                <p><strong>Достижения:</strong></p>
                                <ul>
                                    <li>победитель чемпионата Украины в 1 лиге сезона-2003/04;</li>
                                    <li>серебряный призер чемпионата Украины в 1 лиге сезона-1999/2000;</li>
                                    <li>бронзовый призер чемпионата Украины в 1 лиге сезона-1995/96;</li>
                                    <li>рекордсмен первой лиги по числу проведенных матчей – 429.</li>
                                </ul>
                            </li>
                        </ol>
                        
                </div>
            </div>
        </div>
        <div class="news_box_close">
            <div class="img_close_news"></div>
        </div>
    </div>