<div class="news_box">
        <div class="news_box_content">
            <div class="article">
                <!-- Заголовок новости -->
                <div class="article_header">
                    <header class="article_header_text">
                        <h1><%=headerNews %></h1>
                        <div class="article_header_info">
                            <span class="date">
                                <img src="img/icon/schedule-button.png" />
                                <%=dateNews %>
                            </span>
                            <span class="autor">
                                Евгений Демьян, «Украинский Футбол»
                            </span>
                        </div>
                    </header>
                </div>
                <!-- Фотография к новости -->
                <div class="article_img">
                    <div class="article_bcimg" style="background-image:url('../img/<%=imgHeader %>')"></div>
                </div>
                <!-- Текст новости -->
                <div class="article_content">
                        <p>Спортивний директор «Сталі» Анатолій Волобуєв розуміє, що в разі відмови «Олександрії» від підвищення в класі, таке право перейде до алчевців, однак поки не готовий відповідати за рішення функціонерів ФК.</p>
                        <br />
                        <h5>— Анатолію Івановичу, олександрійці, вустами президента клубу пана Кузьменка, заявили, що не хочуть використовувати свою путівку до сильнішої ліги. Зважаючи на це, чи виникають у вашому клубі відповідні рухи в цій площині?</h5>
                        <p>— Поки не готовий відповідати на це запитання. Потрібно, передусім, щодо цього розмовляти із функціонерами та засновниками ФК. Чесно, я навіть не знав, що «Олександрія» все ж відмовилася, хоча, не приховуватиму, що ми чекали цього питання. Думаю, що лише до кінця тижня з’явиться якась інформація від нашого керівництва. Зізнаюсь, що «зсувів» у позитивний бік у нас не було. Маю на увазі інфраструктурні моменти, через які нас, власне, й не допустили торік до прем’єр-ліги.</p>
                        <br />
                        <h5>— Завдання ж не було, щоби вий­ти до прем’єр-ліги?</h5>
                        <p>— Усі знають, що не було, та й головний тренер цього не приховував. Коротше, якось грали… Хоча, в принципі, перед командою має стояти задача щоматчу перемагати.</p>
                        <br />
                        <h5>— Але ж нині в алчевському ФК розуміють, що аналогічне право грати в прем’єр-лізі згодом отримаєте й ви, якщо олександрійці не змінять позицію?</h5>
                        <p>— Повторюю, що все залежить од босів, а якою буде їхня відповідь, я не знаю. Зараз же ситуація така в країні, самі бачите. Тяжко говорити про майбутнє…</p>
                        <br />
                        <h5>— Якщо за цей рік нічого не робилось у клубі над усуненням інфраструктурних «вад», то чи не випливає висновок, що «Сталь» у прем’єр-лізі — дуже малоймовірний варіант?</h5>
                        <p>— Так. Хоча раніше ходили розмови щодо покращення названих питань, зрештою, до справи це не дійшло. Нав­паки, наш стадіон усе більше стає непридатним для проведення матчів: іржавіє, занепадає, розвалюється…</p>
                        <br />
                        <h5>— Усе стосується винятково домашньої арени?</h5>
                        <p>— Не певен, але стадіон — голов­ний критерій, на якому все зійшлося. Наскільки пам’ятаю, то ніхто не говорив, що в нас фінансів немає, чи ще чогось. У принципі, я в такому стані був, якщо згадаєте, можливо, чогось і не пам’ятаю, адже мене вразили тим рішенням не пустити нас «наверх». Давайте почекаємо цей тиждень. А раптом наших інвесторів зацікавлять виступи в прем’єр-лізі?.. Хоча, знову ж таки, ця ситуація на сході, коли доводилося грати на нейтральних полях… Через неї навіть не знаємо, що буде з нашим майбутнім у першій лізі: яким буде наступний сезон? У якому вигляді? Чи всі зберуться?</p>
                        <br />
                        <h5>— За спортивними складовими «сталевари» готові до виступів у еліті?</h5>
                        <p>— У будь-якому випадку потрібно зміцнюватись, адже наш колектив дуже молодий. Навіть тій команді, що торік заслужила право підвищитись у класі, варто було посилювати свій потенціал. Тим паче, що з того складу багато хто вже залишив наші лави: Степанюк, Міщенко, Грицай.</p>
                        <br />
                        <h5>— На вашу думку, чи буде нормально, якщо підніметься лише «Олімпік», як тогоріч «Севастополь», а елітну лігу взагалі скоротять до 14 команд?</h5>
                        <p>— Це завжди погано, коли не дотримуються спортивного принципу. Як на мене, це буде ненормально, якщо вийде лише один «Олімпік». У нас що, немає розвитку футболу? Я вже багато вислуховую, що прем’єр-ліга повинна формуватись із десяти команд, 12-ти… На мій погляд, який я нікому не нав’язую, це — повна маячня. Як можуть грати десять клубів? Для Украї­ни потрібно, мінімум, 16–18 колективів. Про який тоді прогрес можна буде говорити? А так розповідають: грати в чотири кола, вісім… Повні дилетанти — одне слово.</p>
                        <p>До слова, вважаю, що потрібно взагалі три команди з першої ліги підвищувати в класі. Бачите, що кримських команд, ймовірно, з нами може й не бути. Гадаю, що трійця —«Олімпік», «Олександрія» та «Сталь» — мусить замінити спочилий «Арсенал» та кримські «Севастополь» і «Таврію».</p>
                        <br />
                        <h5>— Чи ведете до давно «затертої» пропозиції: збільшувати кількість команд у дивізіоні, натомість спрощувати критерії для участі в ній?</h5>
                        <p>— Звичайно! Нам тоді про що говорили? Щоби в нас була гарантія того, що в нас буде десятимільйонний бюджет! Не розумію, навіщо такі суми? Ми ще тоді мали грати серед найсильніших вітчизняних ФК: відчути запах «пороху», зрештою, набути досвіду. Навіть якби ми вилетіли, зараз «Сталь» була би зовсім іншою командою.</p>
                        <p>Якщо рівень життя в нашій країні підвищиться, тоді зможемо повернутися до названих критеріїв. Не думаю, що нині доцільно ділити клуби на бідні та багаті. Якщо команда заслужила там грати, значить, має там грати. Ті люди, що все забороняють та встановлюють санкції, мають, навпаки, всім допомагати! Нехай приїжджають до нас, подивляться на клуб, зустрінуться з керівництвом, із мером, із спонсорами — ось що потрібно робити, а не кричати, сидячи у своїх кріслах.</p>
                        
                        <p>От скажіть, у чому винні футболісти, котрі вибороли право на участь у елітному дивізіоні? Що в них поганий стадіон? Сподіваюся, ви мене зрозуміли.</p>
                        
                </div>
            </div>
        </div>
        <div class="news_box_close">
            <div class="img_close_news"></div>
        </div>
    </div>