<div class="news_box">
        <div class="news_box_content">
            <div class="article">
                <!-- Заголовок новости -->
                <div class="article_header">
                    <header class="article_header_text">
                        <h1><%=headerNews %></h1>
                        <div class="article_header_info">
                            <span class="date">
                                <img src="img/icon/schedule-button.png" />
                                <%=dateNews %>
                            </span>
                            <span class="autor">
                                    Артем Цыганенко (пресс-служба ФК «Сталь»)
                            </span>
                        </div>
                    </header>
                </div>
                <!-- Фотография к новости -->
                <div class="article_img">
                    <div class="article_bcimg" style="background-image:url('../img/<%=imgHeader %>')"></div>
                </div>
                <!-- Текст новости -->
                <div class="article_content">
                        <p>В субботу в Александрии сыграют призёры прошлогоднего первенства первой лиги: футбольный клуб «Александрия» будет принимать «Сталь». Номинально этот матч мог стать центральным во всей осенней части сезона, но на деле алчевцам по объективным причинам тяжело составлять конкуренцию лидерам. Тем не менее, команда как может готовится к поединку, и накануне встречи главный тренер «Стали» Вадим Плотников ответил на вопросы корреспондента клубной пресс-службы.</p>
                        <p><strong>Вадим Плотников:</strong> – Да, играем в прямом смысле без тренировок. Приезжаем только на матчи, а после них все футболисты разъезжаются по домам. Нельзя забывать и том, что летом нас покинуло большинство игроков основы. Если бы не это, то были бы нетренированные, но хотя бы сыгранные. А так, восемь человек ушло, плюс сейчас Колинс травмирован – уже три игры пропустил, Батюшину сделали операцию на крестообразных связках – играть он не будет весь чемпионат. На матчи даже не можем собрать полную заявку футболистов.</p>
                        <br />
                        <h5>– Как оцените новичков команды?</h5>
                        <p>– Новички, которые раньше играли в первой лиге, выходят в основном составе и у нас, а ребята, которые приехали к нам из донецкого «Металлурга», ещё слабые для первой лиги. Были бы тренировки – была бы возможность что-то наиграть. А так футболисты приезжают только на предигровую тренировку – нагрузку не дашь. Команда в очень плохом состоянии – нормально выглядят только несколько человек.</p>
                        <br />
                        <h5>– А дома футболисты самостоятельно тренируются?</h5>
                        <p>– Мы им говорим, чтобы нашли какую-нибудь областную команду и тренировались. Но вижу, что больше половины не тренируются. Несколько игроков только кое-как тренируются. Хотя всё равно это совсем не то когда сам тренируешься, а когда с командой – футболист не заставит себя дать нужную нагрузку. Так, разве что кросс пробежит.</p>
                        <br />
                        <h5>– Не хватает физических сил, скоростей – отсюда жёлтые и красные карточки, дисквалификации. Матч с «Александрией» пропускает Максименко, по три жёлтые уже получили Ермаков и Хромых…</h5>
                        <p>– Да, прошлую игру Масалов пропускал, теперь Максименко пропускает. У Назаренко уже была красная. Конечно, это также сказывается отсутствие тренировок. Вообще, мы так проигрываем матчи – забиваем голы сами себе… где-то могли хотя бы ничьи брать, но уступали после грубейших индивидуальных ошибок. Опять же, собираемся только на игры – говорить о каком-то результате не приходится. Нет домашних матчей, своего поля – нет болельщиков.</p>
                        <br />
                        <h5>– Впереди матч с «Александрией», который при нормальных обстоятельствах мог стать центральным в первом круге. Но, сейчас соперник, выиграв на старте сезона семь матчей кряду, далеко впереди…</h5>
                        <p>– У «Александрии» два равноценных состава, шикарные условия – у них отличная команда. Они выйдут в Премьер-лигу. Да и Кировоград выйдет, если будут выходить две команды. В Кировограде тоже задача – Премьер-лига.</p>
                        <br />
                        <h5>– Что будете говорить футболистам на предматчевой теоретической подготовке?</h5>
                        <p>– А что можно говорить, если они физически не тянут? Да и видеопросмотры соперников нам толком негде делать – тактический разбор только на словах. Есть команды, которые мы бы должны легко переигрывать, но сейчас мы слабее физически, в первую очередь. Всё связано с этим. Быстрее бы всё уладилось, чтобы хотя бы можно было тренироваться в Алчевске. Как только будет тренировочный процесс – команда станет другой. Буквально через неделю. Но хорошо, что руководство нашего клуба в такой непростой ситуации вообще сохраняет команду. Будем терпеть.</p>
                        
                </div>
            </div>
        </div>
        <div class="news_box_close">
            <div class="img_close_news"></div>
        </div>
    </div>