<div class="news_box">
        <div class="news_box_content">
            <div class="article">
                <!-- Заголовок новости -->
                <div class="article_header">
                    <header class="article_header_text">
                        <h1><%=headerNews %></h1>
                        <div class="article_header_info">
                            <span class="date">
                                <img src="img/icon/schedule-button.png" />
                                <%=dateNews %>
                            </span>
                            <span class="autor">
                                Анатолий Волков  <a href="http://Football.ua/"> Football.ua</a>
                            </span>
                        </div>
                    </header>
                </div>
                <!-- Фотография к новости -->
                <div class="article_img">
                    <div class="article_bcimg" style="background-image:url('../img/<%=imgHeader %>')"></div>
                </div>
                <!-- Текст новости -->
                <div class="article_content">
                        <h4>Анатолий Волобуев: «Нужно надеяться, что когда-нибудь всё наладится и «Сталь» будет существовать на профессиональном уровне!»</h4>

                        <p>В последние годы Анатолий Волобуев отказывался давать обширные интервью о жизни, и вот, наконец, согласился поговорить обо всем откровенно. Сейчас Анатолию Ивановичу 62. Война не заставила его покинуть Алчевск и родную Сталь, где он, оказывается, и сейчас работает спортивным директором. "Футболистов, правда, нет", — говорит Волобуев. — "Только детская школа функционирует, но зарплату получаю". На вопросы о том, хочется ли ему поработать на серьезном уровне, он отвечает утвердительно, но добавляет: "У нас здесь снаряды летают над головой, взрываются. В такой ситуации не могу бросить семью и уехать куда-то на работу". На тему войны, впрочем, с журналистом сайта football.ua Анатолий Волобуев больше почти не разговаривал – только о футболе.</p>

                        <h4 class="quote">"Пожалуй, да – нынешний чемпионат – самый слабый за всю историю"</h4>

                        <h5>- Насколько внимательно следите за украинским футболом на данный момент?</h5>
                        <p>- Стараюсь не пропускать ни матчей, ни аналитических программ.</p>
                        <br />
                        <h5>- И в каком направлении движется сейчас наш футбол, если в общих чертах?</h5>
                        <p>- Прямо скажем, он не прибавляет: качество ухудшается, теряем зрителей. Впрочем, это логично, когда в стране такая ситуация.</p>
                        <br />
                        <h5>- Был ли этот самый уровень когда-либо ниже во времена Независимой Украины? Первые чемпионаты, например?</h5>
                        <p>- Первые чемпионаты, если мне не изменяет память, собирали больше людей, для которых все это было новое, а потому и интересное. Все смотрелось живее. А сейчас же получилось, что чемпионат с каждым годом становился все сильнее, и в один момент все рухнуло. Пожалуй, да – нынешний чемпионат – самый слабый за всю историю. Объясняется все и обстановкой в стране, и, как следствие, оттоком легионеров, ведь в финансовом плане наши клубы уже не такие мощные. С другой стороны, я всегда считал, что легионеры должны быть на две головы сильнее наших футболистов. Поэтому, может, и надо немного очиститься. Сейчас вот пошел приток молодых игроков, а я не думаю, что в Украине мало талантов. Пример – киевское Динамо, где подтянулось много своих молодых воспитанников. Доверять надо – это самое главное. Будет игровая практика – будет и рост футболистов.</p>
                        <br />
                        <h5>- Ваша фамилия ассоциируется со словом "тренер", но сначала вы работали на должности спортивного директора Стали, а теперь долгое время вовсе без работы. Вы сами-то переживаете по этому поводу?</h5>
                        <p>- Вы знаете, я, наверное, один из немногих тренеров Украины, который прошел путь с одним клубом от первенства города до Премьер-лиги. Причем, выходил в эту самую лигу трижды. Да, у меня были кратковременные отлучки. Не всегда по моей вине или желанию, но я оставался предан одной команде. И то, что случилось в 2013 году, когда Сталь не пустили в Премьер-лигу… Я не знал, как продолжать работать и как заходить в раздевалку к ребятам, которых так настраивали на Премьер-лигу. Помню, пока решался вопрос по нашему повышению в классе, пообещал журналисту одного из каналов: "Если Сталь не пустят в Премьер-лигу– уйду". Не хочу сказать, что ушел потому лишь, что дал обещание журналисту, но, наверное, так нужно было поступить на тот момент, и я так поступил. А дальше случилась военная обстановка на Донбассе, и команда в итоге снялась с чемпионата. Сейчас, конечно, хочется поработать, но, знаете, работу найти не так уж и легко. Раньше я получал различные предложения, но отказывался уезжать из родного города. А сейчас смотрю: если человек за 10 лет поменял 10 клубов – это тренер. Если всю жизнь проработал в одном клубе – не тренер. Так модно стало. Годы идут, и я понимаю, что каждый сезон без работы – это всегда плохо для тренера. </p>

                        <br />
                        <h5>- Нынешняя первая лига подошла бы вам для работы?</h5>
                        <p>- Если в первой лиге, то хотелось бы поработать в команде, которая ставит задачи выхода в элиту.</p>
                        <br />
                        <h5>- Последнее предложение, которые вы получали от клубов?</h5>
                        <p>- В период после Стали конкретных предложений не было, только разговоры. А раньше было пару конкретных предложений от клубов Премьер-, первой лиги, в одно время была возможность уехать в Казахстан. Но как-то всегда отказывался.</p>
                        <br />
                        <h5>- Мне кажется, с помощью агентов, вам было бы несложно устроиться по крайней мере в Первой лиге или в ближайшем зарубежье.</h5>
                        <p>- Вы знаете, во-первых, у меня нет агента и никогда его не было. А, во-вторых, признаюсь, я все это время сидел и ждал у моря погоды. Наверное, даже так. Теперь, возможно, придется обращаться за помощью к агентам.</p>
                        <br />
                        <h5>- Иногда смотришь, каких тренеров агентам удается шикарно пристраивать, и удивляешься.</h5>
                        <p>- (Смеется). И вы, и я понимаем, почему так происходит.</p>
                        <br />
                        <h5>- За годы работы агенты были вам друзьями или преимущественно недругами?</h5>
                        <p>- Я как-то стараюсь со всеми поддерживать хорошие отношения. С агентами приходилось работать, ведь нужно было как-то комплектовать команду. Если же учитывать, что на новичков в Стали выделялись совсем небольшие деньги, и мы брали игроков почти всегда бесплатно либо за копейки, то особых проблем с агентами возникнуть и не могло. Посредников, которых я заносил в черную книгу и отказывался работать, не было.</p>

                        <h4 class="quote">"Коньков во главе ФФУ? До сих пор не хочу разговаривать на эту тему"</h4>

                        <h5>- Алчевскому футболу вы отдали большую часть карьеры игрока и практически всю жизнь тренера, и того – получается больше 30 лет работы в одном клубе. Что сейчас с футболом в этом городе?</h5>
                        <p>- Клуб функционирует, мы так же продолжаем работать. Я здесь – спортивный директор, тренер тоже на месте. В принципе, клуб работает, его не расформировали, нас – не увольняли. Единственное – нет футболистов. А так – детская школа функционирует, рабочие по полю на месте, водители. В общем, все, кто работали в клубе раньше, продолжают делать это и сейчас.</p>
                        <br />
                        <h5>- А что с финансированием?</h5>
                        <p>- Как и раньше, спонсором является металлургический комбинат. Зарплаты мы получаем. Не те, что раньше, но и за это спасибо.</p>
                        <br />
                        <h5>- И какие перспективы у клуба?</h5>
                        <p>- Наверное, нужно надеяться, что когда-нибудь все наладится и команда будет существовать на профессиональном уровне.</p>
                        <br />
                        <h5>- Когда-то вы в интервью сказали, что все, о чем мечтаете – поработать в клубе без финансовых проблем, в спокойствии, ведь в Стали все было сложнее. Сейчас во многих клубах футболисты играют без денег. Работа тренера в таких условиях – подвиг?</h5>
                        <p>- Нет. Просто так тяжелее морально. Тем более, всю сложность ситуации в клубах понять и принять тренерам не так уж и сложно, ведь ситуация в стране диктует свои условия. У Стали, например, еще до войны денег особо не было на протяжении нескольких лет, бюджет был очень скромный. Просто коллектив такой собирался – единомышленников.</p>
                        <br />
                        <h5>- Правда ли, что вас в свое время приглашали на работу и Суркисы, и Ахметов?</h5>
                        <p>- Ну, было дело. В конце девяностых, когда еще в Динамо работал Валерий Лобановский, был разговор с Григорием Михайловичем о сотрудничестве и дальнейшей работе в Динамо. Поначалу предполагалось, что Сталь будет обкатывать молодых динамовцев, то есть, станет таким себе фарм-клубом. При этом мне предлагали поучиться в лаборатории Зеленцова с дальнейшей перспективой трудоустройства в Динамо. Я отказался. Не знаю, то ли был так предан Алчевску, то ли просто… недальновидный, скажем так.</p>
                        <br />
                        <h5>- А Ринат Ахметов?</h5>
                        <p>- С Леонидовичем тоже был разговор. Шахтер тогда под руководством Яремченко в Кубке УЕФА попал Цюриху – 0:4. И вот тогда состоялся разговор с Ахметовым. Он предложил работать вторым тренером, но с условием, что Яремченко, которому я должен был позвонить, будет не против. Ну, позвонил, Валерий Иванович сказал: "Я обеими рукам "за"!". Сразу же я не поехал, сказал, что у меня матч против Полесья. Мы тогда 5:0 выиграли. Потом за два дня все было переиграно, и в итоге я остался в Алчевске. Мне тогда говорили, что Яремченко на самом деле был против моего прихода, но не знаю, правда это или нет. Это у него нужно узнавать. Я не спрашивал до сих пор.</p>
                        <br />
                        <h5>- Многие журналисты пытались вас расспросить о Конькове, когда он только стал президентом ФФУ. Вы ни одного интервью на эту тему не дали. Почему?</h5>
                        <p>- Та я до сих пор не хочу разговаривать на эту тему. Дай Бог ему здоровья, да и все.</p>

                        <h4 class="quote">"Чудак прыгнул с двух ног нашему игроку в кадык, и его не удалили... Бесполезно что-то доказывать итальянцам, бес-по-лез-но"</h4>

                        <h5>- В конце своей работы тренером Стали вы выбежали на поле и, как тогда подумали очевидцы, попытаетесь побить господина Кутакова. А ранее вы неоднократно говорили о том, что судьи убивали вашу команду (что Сталь, что Зарю). Отношение к людям в черном у вас неоднозначное…</h5>
                        <p>- Ну, есть тренеры, которые во время матча со скамейки не подымаются, а я другой. Дело же вот как было: мы уже обеспечили выход в Премьер-лигу, а Буковина приехала в Алчевск с целью занять третье место, для чего ей нужно было обязательно выиграть у нас. Ну, и судья приехал с соответствующим заданием. В итоге, в наши ворота был поставлен пенальти, которого не было и близко. У меня не выдержали нервы – вот и побежал. Ну, пробежал немножко, и остыл. Уверен, физически не дотронулся бы к арбитру. Кстати, у меня сохранились фотографии, как мои ребята выводили меня тогда с поля.</p>
                        <p>Был еще случай: играли мы где-то, Сталь откровенно убил судья, и я после матча сказал все, что о нем думаю. В итоге, меня оштрафовали на 25 тысяч гривен и дисквалифицировали на два матча. "Живи и учись", — сказали. При этом, если тренеры Премьер-лиги выбегали за пределы технической зоны или высказывались в адрес арбитра, их на то время штрафовали на 7-8 тысяч гривен. У меня же были особые привилегии… Кстати, в матче с Буковиной мы тогда сравняли счет, несмотря на то, что всем, кроме Стали, нужна была победа Буковины. Той ничьей я горжусь до сих пор. Ребята тогда доказали Кутакову, что он зря все это затеял.</p>
                        <br />
                        <h5>- У вас были возможности пообщаться с Пьерлуиджи Коллиной или Лучано Лучи?</h5>
                        <p>- Общался на собрании ПФЛ с Лучано Лучи. Ну, там особо не пообщаешься – ты всегда в итоге неправ, а итальянцы – правы. Даже когда они на белое говорили черное и наоборот. Простой пример: на моей странице в Фейсбуке есть матч против Севастополя в Крыму. Я сохранил и выставил себе его на страницу с мыслью, что, возможно, когда-нибудь, итальянцы посмотрят этот матч. Мы там попали 0:2, когда Севастополь Кононова был на первом месте, а мы – на втором, при чем, бюджет у нас был в пять раз меньше. Реально – нужно на всех судейских курсах показывать, как арбитр относится к одной и ко второй команде. Судья Пасхал (дебютировал в Премьер-лиге в прошлом сезоне, в нынешнем чемпионате отработал на пяти матчах. – Ан.В.) нас просто уничтожил. Никто даже ту игру в итоге не смотрел. А я очень советую глянуть, за что нам давали желтые карточки, штрафные в нашу сторону, пенальти, как чудак прыгнул с двух ног нашему игроку в кадык, и его не удалили... Бесполезно что-то доказывать, бес-по-лез-но. Не знаю, то ли такое неуважительное отношение ко всем нам, то ли они в Италии лучше разбираются в футболе.</p>
                        <br />
                        <h5>- Что бы вы сказали в глаза Коллине в первую очередь, будь у вас минута времени и отсутствие свидетелей разговора?</h5>
                        <p>- Да что ему не говори – думаю, он остался бы при своем мнении. Тренеров первой лиги они не уважали особенно.</p>
                        <br />
                        <h5>- Как вам сейчас уровень судейства в Премьер-лиге?</h5>
                        <p>- Судьи у нас могут судить однозначно. Это не отнимешь. Но когда надо. А не хотят они часто.</p>
                        <br />
                        <h5>- Бывало ли в последние года два, что вы включаете телевизор, смотрите матч Премьер-лиги и заканчиваете просмотр с абсолютно уверенным выводом, что только что вы посмотрели договорной матч или матч на контору?</h5>
                        <p>- Ой, даже не знаю, что сказать. Точнее, знаю, но, если начну говорить – коллеги обидятся.</p>
                        <br />
                        <h5>- Бывало ли, что вы, будучи тренером, ловили своих игроков на нечестном отношении к футболу?</h5>
                        <p> Я вообще привык ребятам верить. Но был один матч в Алчевске, когда мы проиграли 2:3 Крымтеплице. Совершенно непонятная игра, которую я до сих пор анализирую, пытаясь понять, что это было. У меня были подозрения, но они прошли за пару-тройку лет. Но когда я дал распоряжение проверить, были ли ставки на эту игру, оказалось, что были как раз только лишь на этот матч. Начал сомневаться по новой.</p>
                        <br />
                        <h5>- Эта болезнь поразила украинский футбол только сейчас, или на самом деле договорняки и игры на конторы – давняя болезнь, о которой раньше просто молчали, так как это было не так явно?</h5>
                        <p>- Я думаю, что это – современное веяние 3-5 последних лет. Раньше, как тренер, я никогда и подумать не мог, что то, что происходит сейчас, возможно в принципе. Страшно, когда видишь, как на контору играют 19- или 21-летние ребята.</p>
                        <br />
                        <h5>- На какие команды в лиге вы сейчас смотрите с огромным интересом?</h5>
                        <p>- Уже второй год очень нравится Заря. Это в первую очередь.</p>
                        <br />
                        <h5>- Ваши планы на будущее связаны с футболом?</h5>
                        <p>- Я сейчас вплотную буду заниматься вопросом трудоустройства. Но, знаете, когда такая напряженная обстановка: снаряды летают, все вокруг свистит и гудит, взрывается, неправильно будет бросить семью и уехать на работу. Желание и силы поработать у меня есть, но посмотрим, как все сложится. Если серьезно подойду к вопросу поиска, думаю, что-то все же найду.</p>

                </div>
            </div>
        </div>
        <div class="news_box_close">
            <div class="img_close_news"></div>
        </div>
    </div>