<div class="news_box">
        <div class="news_box_content">
            <div class="article">
                <!-- Заголовок новости -->
                <div class="article_header">
                    <header class="article_header_text">
                        <h1><%=headerNews %></h1>
                        <div class="article_header_info">
                            <span class="date">
                                <img src="img/icon/schedule-button.png" />
                                <%=dateNews %>
                            </span>
                            <span class="autor">
                                Дмитрий Авдеев, HotSport.ua
                            </span>
                        </div>
                    </header>
                </div>
                <!-- Фотография к новости -->
                <div class="article_img">
                    <div class="article_bcimg" style="background-image:url('../img/<%=imgHeader %>')"></div>
                </div>
                <!-- Текст новости -->
                <div class="article_content">
                        <p>Сегодня, 10 июля, исполняется 30 лет одному из самых заметных игроков первой лиги Украины, Бюрнелю Окана-Стази. В беседе с корреспондентом портала HotSport.ua Дмитрием Авдеевым конголезский полузащитник алчевской «Стали» поделился некоторыми моментами своей биографии и спортивной карьеры.</p>
                        <br />
                        <h5>– Восемь лет в карьере футболиста довольно большой срок. Именно столько вы играете в Украине. Как бы охарактеризовали этот период?</h5>
                        <p>– Как и в карьере любого игрока были взлеты и падения. Приехал в алчевскую «Сталь», выступал в высшей лиге, было очень интересно с одной стороны и почетно с другой. Неприятно вспоминать травмы, а также операции, к которым некоторые из них приводили. В целом я доволен своим периодом карьеры, проведенным в Украине. Мне нравится здесь жить и играть.</p>
                        <br />
                        <h5>– Какими были ваши первые впечатления, когда приехали в страну?</h5>
                        <p> Когда ехал – об Украине ничего не знал. Видел только игру Андрея Шевченко и команду «Динамо» Киев. А поразила меня база донецкого «Металлурга», клуба, в который я сначала приехал. Раньше я таких условий для футболистов не встречал. Если же брать в целом, то очень понравилась природа на западной Украине. Когда первый раз попал туда, был ею очарован.</p>
                        <br />
                        <h5>– Сейчас вы запросто разговариваете по-русски. Услугами переводчика долго пользовались?</h5>
                        <p>– Немногим больше года, может полтора – максимум. Конечно, и потом встречались новые, незнакомые слова, но это уже было не столь важно. О чем идет речь, всегда понимал.</p>
                        <br />
                        <h5>– Какими были ваши первые впечатления от чемпионата Украины? </h5>
                        <p>– Когда приехал ничего о нем не знал. Силу команд также не представлял. Потом убедился, что в Украине довольно сильный чемпионат. Приятно было играть, прежде всего, против «Динамо» и «Шахтера». Мой дебютный поединок пришелся как раз против киевского клуба. Мы тогда уступили в гостях 0:4, но я считаю, сыграл неплохо. Заработал пенальти, который, к сожалению, мы не реализовали.</p>
                        <br />
                        <h5>– Видимо тогда, вам еще бить пенальти не доверили. Сейчас иногда их пробиваете, но коронные удары с дальних дистанций чаще застают вратарей соперников врасплох. Секрет таких ударов держите в тайне?</h5>
                        <p>– Нет никакого секрета. У меня еще в детстве получалось хорошо бить по воротам издали. Я, даже в то время, издали забивал больше голов, чем с ближней дистанции. В дальнейшем лишь старался совершенствовать удар, уделяя время его отработке на тренировках.</p>
                        <br />
                        <h5>– Вернемся к последним событиям. Вы улетали в отпуск в радостном настроении, ведь «Сталь» добилась права выступать в Премьер-лиге…</h5>
                        <p>– Да, а спустя несколько дней, в интернете прочитал, что мы там играть не будем. Не поверил, позвонил Колинсу в Украину, но он сказал, что это действительно так. Обидно было очень, мои родители также не могли этому поверить, как такое могло произойти. Сейчас уже эмоции немного улеглись. Это все жизнь. Команда наша почти полностью сохранилась и в следующем чемпионате мы вновь можем доказать свою силу.</p>
                        <br />
                        <h5>– Вы вспомнили о родителях, живущих в Конго, Колинсе, который, как и вы наверно считает Украину родной. Сами не задумывались, где будите жить после окончания футбольной карьеры?</h5>
                        <p>– Пока играю думать об этом рано. Жена у меня также из Украины, так что шансов на то, останусь здесь или нет, 50 на 50.</p>
                        <br />
                        <h5>– Культура Украины теперь вам тоже не чужая. Что в этом плане больше всего нравится?</h5>
                        <p>– Нравится, что в Украине очень много праздников. Иногда их даже путаю. Но праздновать я люблю. Впервые здесь узнал о таком празднике как Пасха, который стал одним из моих любимых.</p>
                        <br />
                        <h5>– А самый любимый праздник?</h5>
                        <p>– Наверно, как и у многих – Новый год. Я даже скажу что в праздновании Нового года в Украине и Конго, разница, пожалуй, лишь в том, что здесь в это время очень холодно и лежит снег. А в остальном, также все очень похоже. Люди веселятся, дарят друг другу подарки. Кроме того для меня очень важен главный государственный праздник Конго – День независимости. Он у нас очень популярен.</p>
                        <br />
                        <h5>– Вы сказали, что на Новый год в Украине очень холодно. Как считаете, южный человек, каковым можно считать вас, может привыкнуть к нашей зиме?</h5>
                        <p>– К зиме наверно привыкнуть можно, но вот к холоду вряд ли. Мне вообще, не нравится зима.</p>
                        <br />
                        <h5>– Наверно больше по душе лето?</h5>
                        <p>– Нет, лето я тоже не люблю. В это время года очень жарко. Причем в Украине, временами даже бывает жарче, чем у нас на родине. Я люблю весну и осень. Считаю, в это время года температура наиболее комфортна.</p>
                        
                </div>
            </div>
        </div>
        <div class="news_box_close">
            <div class="img_close_news"></div>
        </div>
    </div>