
<div class="news_box">
        <div class="news_box_content">
            <div class="article">
                <!-- Заголовок новости -->
                <div class="article_header">
                    <header class="article_header_text">
                        <h1><%=headerNews %></h1>
                        <div class="article_header_info">
                            <span class="date">
                                <img src="img/icon/schedule-button.png" />
                                <%=dateNews %>
                            </span>
                            <span class="autor">
                                Артём Цыганенко (пресс-служба ФК «Сталь»)
                            </span>
                        </div>
                    </header>
                </div>
                <!-- Фотография к новости -->
                <div class="article_img">
                    <div class="article_bcimg" style="background-image:url('../img/<%=imgHeader %>')"></div>
                </div>
                <!-- Текст новости -->
                <div class="article_content">
                        <p>Капитан алчевцев Александр Акименко, забивший «Сумам» четыре гола, прокомментировал корреспонденту пресс-службы «Стали» победу и ответил на несколько вопросов.</p>
                        <br />
                        <p><strong>Александр Акименко:</strong> - Эмоции от победы только положительные. Очень рад, что выиграли и что забил четыре гола. Всё хорошо.</p>
                        <br />
                        <h5>- Были ли какие-то особенности при подготовке к матчу?</h5>
                        <p>- Нет, готовились в обычном режиме. Хотели побыстрее сыграть официальный матч, потому что тренировки тренировками, но хочется, чтобы было больше официальных игр.</p>
                        <br />
                        <h5>- Может быть, было особое предчувствие, что забьёшь? Ещё и столько голов…</h5>
                        <p>- Честно говоря, нет. Хорошо, что так сложилось. Важно, что в первом тайме со стандарта забили гол, потому что мы играли против ветра. Во втором тайме всё складывалось в нашу пользу.</p>
                        <br />
                        <h5>- «Сумам» ты забил и в выездной игре, выйдя на замену, а в этот раз забил четыре гола…</h5>
                        <p>- Да, удачно получилось, что в той игре забил и здесь отличился. Хорошо, что так складывается, потому что у соперника команда боевая и играть против них было тяжело.</p>
                        <br />
                        <h5>- Насколько помешала игре неожиданно очень холодная погода?</h5>
                        <p>- Если такой счёт, то, наверное, не помешала.</p>
                        <br />
                        <h5>- Может быть, теперь «Стали» всегда хорошо бы играть по такому же холоду?</h5>
                        <p>- Если будет такой же счёт, то я не против.</p>
                        <br />
                        <h5>- Новички уже потихоньку вливаются в команду?</h5>
                        <p>- Думаю, да. Молодые ребята из «Металлурга» хорошо понимают то, что от них требует тренерский штаб. Взаимодействие уже сейчас нормальное, так что и в дальнейшем всё должно быть хорошо.</p>
                        
                </div>
            </div>
        </div>
        <div class="news_box_close">
            <div class="img_close_news"></div>
        </div>
    </div>