<div class="news_box">
        <div class="news_box_content">
            <div class="article">
                <!-- Заголовок новости -->
                <div class="article_header">
                    <header class="article_header_text">
                        <h1><%=headerNews %></h1>
                        <div class="article_header_info">
                            <span class="date">
                                <img src="img/icon/schedule-button.png" />
                                <%=dateNews %>
                            </span>
                            <span class="autor">
                                Артур Валерко <a href="http://sportarena.com/">Sport Arena</a>
                            </span>
                        </div>
                    </header>
                </div>
                <!-- Фотография к новости -->
                <div class="article_img">
                    <div class="article_bcimg" style="background-image:url('../img/<%=imgHeader %>')"></div>
                </div>
                <!-- Текст новости -->
                <div class="article_content">
                        <h4>Легенды ПФЛ: «Сталь» (Алчевск), сезон 1999/2000.</h4>

                        <p>В честь 20-летия ПФЛ пресс-служба профессиональной футбольной лиги Украины предлагает своим читателям серию материалов, посвящённых самым ярким командам в истории первой и второй лиг.</p>
                        <p>Среди клубов первой лиги алчевская «Сталь» - одна из самых стабильных и одна из самых успешных. На протяжении 21 сезона в этом дивизионе алчевская команда успела выиграть одно «золото», два «серебра» и сразу четыре «бронзы». Фактически, клуб презентовал не одну, а сразу несколько команд для цикла материалов ПФЛ. Но в этот раз речь пойдёт об алчевцах в сезоне 1999/2000, когда самобытная команда «сталеваров» впервые в истории пробивалась в высшую лигу.</p>

                        <h5>Гранд, який виріс у всіх на очах</h5>
                        <p>Спершу алчевців називали «міцними середняками» – це була самобутня команда, котра славилася своїми вольовими якостями й умінням розкривати таланти. Достатньо назвати ім’я славного вихованця «Сталі» Геннадія Зубова – одного з найпомітніших вітчизняних півзахисників 90-х, котрий виховався якраз у цьому колективі, а пізніше славно виступав за «Шахтар» і збірну України.</p>
                        <p>Відразу декілька разів «сталевари» фінішували у п’ятірці кращих першої ліги, а 1996 року навіть завоювали свої перші в історії медалі – бронзові, поступившись таким авторитетним колективам, як полтавська «Ворскла» та чернівецька «Буковина». Однак наступні кілька сезонів пройшли з перемінним успіхом, а за підсумками чемпіонату 1998/1999 алчевська команда й узагалі фінішувала лише дев'ятою.</p>
                        <p>«На жаль, ми обмежені у творчості й тільки спостерігаємо зі сторони за боротьбою кандидатів на підвищення у класі, яких ми, до речі, здебільшого, обігруємоза всіма статтями», – говорив Анатолій Волобуєв у інтерв’ю влітку 1999 року. Однак навіть тоді, коли журналісти думали, що говорять із середняками першої ліги, у словах наставника алчевців відчувалося бажання кращого. Й упевненість у можливостях своєї команди. Це був справжній гранд, який виростав на очах спостерігачів. І хоча ще перед початком сезону ніхто не говорив про великі амбіції, саме «Сталь» у підсумку виявилася найгіднішою серед усіх потенційних претендентів на підвищення у класі.</p>

                        <h5>За серйозних конкурентів</h5>
                        <p>А між іншим, попервах називалися інші фаворити. Не було сумнівів, що за медалі боротиметься «Динамо-2» – київський суперклуб, чинний півфіналіст Ліги чемпіонів 1998/99, володів настільки сильним і широким складом, що у першоліговій резервній команді майже щотуру можна було побачити збірників, відомих та іменитих гравців.</p>
                        <p>Також котирувався СК «Миколаїв», котрий щойно вилетів із вищої ліги й мав свої проблеми, однак мав цікавий склад. Фахівці вважали потенційними фаворитами ФК «Черкаси» та ФК «Львів». До слова, грали в першій лізі, але були в числі середняків і луцька «Волинь» та олександрійська «Поліграфтехніка».</p>
                        <p>Чому ж у підсумку саме алчевська «Сталь» вийшла переможницею у боротьбі за єдину путівку до вищої ліги? (на той час вищий дивізіон пережив перше в історії скорочення менше 16-ти учасників – влітку 2000-го їх стало 14-ть). Напевно, правильним буде сказати, що саме ця команда поєднала добротність складу, досвід тренерського штабу й бажання перейти на вищий рівень, якщо з’явилася така можливість.</p>

                        <h5>Паззл за паззлом</h5>
                        <p>А між тим самі алчевці вирішували складні кадрові завдання. Річ у тім, що на гравців «Сталі» постійно існував підвищений попит – по ходу сезону, що передував тому, про який ми ведемо мову, команда втратила трійку надважливих гравців (Чайку, Моргунова, Плахотіна – їх запросили «СКА-Енергія», «Металіст» та «Шахтар»). Уже перед своїм «срібним» чемпіонатом команда попрощалася із одним із провідних форвардів – Арєф'євим, якого «призвали» у столичний ЦСКА.</p>
                        <p>Загалом, на той час відразу п’ятеро гравців першолігового алчевського клубу перебували у полі зору українських та російських вищолігових команд. Утримати їх, а також провести якісне точкове посилення – такими були головні турботи тренерського штабу на чолі з легендою алчевського футболу Анатолієм Волобуєвим.</p>
                        <p>Утім, загалом склад алчевців стабілізувався. У розпорядженні «Сталі» були стабільний основний голкіпер Старцев, награна оборона, до якої приєдналися молоді Федорченко, Хістєв та Бояринцев, стабільний і варіативний півзахист, результативна атака, котра витримувала темп навіть після прогнозованої втрати Арєф'єва, яким цікавилися відразу три вищолігових клуби. Навіть при кількох неминучих втратах «Сталь» лишалася міцно збитим колективом. Тому, подолавши певні труднощі старту, команда набрала хорошу ходу.</p>

                        <h5>Завойовуючи звання фаворита</h5>
                        <p>Перший матч сезону при п'яти тисячах своїх уболівальників алчевці програли, але кому! «Шахтар-2» привіз у Алчевськ вищоліговий склад: Шутков, Леонов, Микитин, Котов (Мішков, 85), Шелаєв, Зубов (Іванов, 89), Орбу, Ковальов (Бєлік, 74), Мацюк (Бутенко, 85), Кривенцов, Кріпак. Єдиний у тому матчі гол записав на свій актив Орбу – недавній гравець збірної України. Однак уже в наступному турі, граючи у столиці проти ЦСКА-2, «Сталь» переграла армійців завдяки голу Лопаткіна (а суперник, до слова, кинув у бій кількох збірників і екс-алчевця Арєф'єва).</p>
                        <p>Загалом, після осічки у матчі з донеччанами, «сталевари» виграли вісім матчів – у тому числі, й крупні перемоги над житомирським «Поліссям», ужгородським «Закарпаттям», одеським «Чорноморцем-2». Лише у середині вересня «Динамо-2» із Кернозенком, Єзерським, Федоровим, Несмачним, Мамедовим, Венглинським, Шацьких та Косиріним зупинило чудову серію алчевців. Але, знову ж таки, засуджувати команду із Луганщини, яка лише на 89-й хвилині пропустила єдиний м’яч (від Венглинського), не випадає – вона їздила в гості до резервного складу киян, який на той час і у вищій лізі боровся б за медалі.</p>
                        <p>До кінця першої частини сезону «Сталь» програла лише раз – під час складного виїзду в Охтирку. З черкасцями алчевці розділили очки, олександрійців, львів’ян та київських «пивоварів» обіграли. А тому зимували лідерами першої ліги з восьмиочковим відривом від найближчих конкурентів – черкасців.</p>

                        <h5>Вищоліговий шлях</h5>
                        <p>Взимку керівництво алчевського меткомбінату та міськвиконкому підтримало футбольну команду у прагненні прогресу – гендиректор підприємства Олег Дубина та міський голова Микола Кириченко підтвердили, що перед «Сталлю» стоятиме завдання – вихід до вищої ліги.</p>
                        <p>Нарешті можна було працювати над формуванням складу: за винятком досвідченого воротаря Ногіна, втрат більше у алчевців не було. Зате вдалося повернути із армії Арєф'єва, а також запросити кількох новачків – захисника куп’янського «Оскола» Осьмачка і досвідченого універсала Волотька із запорізького «Торпедо».</p>
                        <p>Друге коло – це, зазвичай, значно прагматичніший і складніший відрізок. І справді – «Сталь» втратила кілька важливих очок, програвши в Олександрії та Житомирі, видавши кілька нічиїх, а вдома зазнавши тяжкої поразки від «Динамо-2» (1:4). Однак навіть поразка від команди з Венглинським, Яшкіним, Максим’юком, Федоровим, Косовським та іншими зірками киян і те, що столичні резервісти у підсумку відвоювали у алчевців золоті медалі, не зіпсувало загального враження від виступів команди Волобуєва.</p>
                        <p>А головне – не зірвали вищолігового графіка команди із Луганщини. У матчах зі своїми конкурентами «Сталь» довела справедливість своїх намірів підвищитися у класі. А Плотников та Арєф'єв, до речі, увійшли у десятку найкращих бомбардирів першолігового сезону (при тому, що перший традиційно грав під нападниками, а другий приєднався до команди уже по ходу сезону, повернувшись із ЦСКА).</p>
                        <p>Відставши на три очка від «Динамо-2» й обігнавши аж на 11 очок ФК «Черкаси», алчевська команда завоювала срібні медалі й путівку у вищу лігу.</p>
                        <img src="img/Plotnikov_2014_05_04.JPG" title="Вадим Плотников" />
                        <p>У своєму визначному сезоні 1999/2000 «Сталь» задіяла такий склад:</p>
                        <p>воротарі: Вадим Старцев (26 матчів, 29 пропущених м’ячів), Віталій Котляров (8 матчів, 5 пропущених), Олександр Ногін (3 матчі, 2 пропущених, пішов по ходу сезону);</p>
                        <p>захисники: Євген Манько (33 матчі, 2 голи), Сергій Полушин (28 матчів, 2 голи), Артем Федорченко (27 матчів, 1 гол), Сергій Хістєв (23 матчі), Олександр Хлопонін (20 матчів), Борис Вєтров (10 матчів), Олександр Осьмачко (6 матчів), Олег Волотьок (5 матчів), Леонід Бояринцев, Андрій Треньов (по 1 матчу); півзахисники: Роман Кучирка (31 матч, 2 голи), Олег Бугаков, Андрій Цвік (по 30 матчів, 2 голи), Андрій Вертелецький (29 матчів, 2 голи), Вадим Плотніков (28 матчів, 14 голів), Сергій Божко (26 матчів, 10 голів), Сергій Гордун (26 матчів, 2 голи), Ігор Фокін (19 матчів, 1 гол), Олександр Ігнатенко (14 матчів, 1 гол), Денис Кіцаєв (по 2 матчі);</p>
                        <p>нападники: Артем Лопаткін (33 матчі, 5 голів), Андрій Петришен (21 матч, 4 голи), Віктор Арєфьєв (16 матчів, 8 голів), Руслан Басараба (8 матчів);</p>
                        <p>президент і головний тренер клубу: Анатолій Волобуєв.</p>

                        <h5>Брак часу</h5>
                        <p>20 червня 2000 року після завершення ІХ чемпіонату України серед команд першої ліги алчевська «Сталь» святкувала срібні медалі із «золотим» відливом. Попри те, що команда посіла друге місце, саме вона отримала право перейти у вищу лігу, адже чемпіон «Динамо-2» за регламентом не міг цього зробити.</p>
                        <p>У актовому залі Будинку культури Металургів команда приймала заслужені привітання. Окрім місцевого керівництва, прибули й столичні гості – представники ПФЛ Валерій Баглай та Віктор Бельков привезли медалі й персональне вітання від президента Ліги Григорія Суркіса. Досвідчені діячі футболу Луганщини навіть назвали вихід алчевців у вищу лігу «другою за значимістю футбольною подією для краю після чемпіонства СРСР «Зорі» 1972 року».</p>
                        <p>Жартома й усерйоз було визначено найкращих гравців «Сталі» за індивідуальними номінаціями – Гравцем сезону став Сергій Божко, найкращим бомбардиром – Вадим Плотніков, приз глядацьких симпатій отримав Андрій Цвік, а перемогу у номінації «Надія дівчат» одержав Артем Лопаткін. А за опитуванням, проведеним газетою «Український футбол», втретє поспіль найкращим гравцем першої ліги був названий Вадим Плотніков.</p>
                        <img src="img/orig_166955.jpg" title="Анатолій Волобуєв" />
                        <p>А Анатолій Волобуєв, творець тієї самобутньої команди, подумки уже був у наступному сезоні. «Сталі» належало грати проти «Динамо», «Шахтаря», «Дніпра» та інших сильних вищолігових клубів. Щоб команда не обмежилася епізодичною появою у «вищому світі», алчевський клуб заявив на другу лігу свій резервний склад. Почався системний перегляд потенційних новачків – як людей зі значним досвідом, так і перспективних «зірочок»…</p>
                        <p>«Сталь» не змогла затриматися у вищій лізі, але системна робота дала про себе знати. Через чотири сезони алчевці повернулися туди, зігравши уже два сезони поспіль. У першому дивізіоні, де вони, здебільшого, виступали, вони неодноразово завойовували медалі – навіть у ситуації, коли інші при таких проблемах не думали б ні про що, крім виживання.</p>
                        <p>Тож віриться, що повернеться на професіональний найвищий рівень цей самобутній колектив. Тому що вольовий, тому що невипадковий у нашому футболі.</p>
                </div>
            </div>
        </div>
        <div class="news_box_close">
            <div class="img_close_news"></div>
        </div>
    </div>