<div class="news_box">
        <div class="news_box_content">
            <div class="article">
                <!-- Заголовок новости -->
                <div class="article_header">
                    <header class="article_header_text">
                        <h1><%=headerNews %></h1>
                        <div class="article_header_info">
                            <span class="date">
                                <img src="img/icon/schedule-button.png" />
                                <%=dateNews %>
                            </span>
                            <span class="autor">
                                Александр Рыженко <a href="https://www.ua-football.com/">UA-Футбол</a>
                            </span>
                        </div>
                    </header>
                </div>
                <!-- Фотография к новости -->
                <div class="article_img">
                    <div class="article_bcimg" style="background-image:url('../img/<%=imgHeader %>')"></div>
                </div>
                <!-- Текст новости -->
                <div class="article_content">
                        <p>UA-Футбол подводит итоги выступления одной из самых стабильных команд последних двух сезонов в первой лиге – алчевской «Стали».</p>
                        <p>Пожалуй, лучше всего нынешнее положение вещей в алчевском клубе характеризует фраза ее бывшего главного тренера, который прошлым летом перешел на должность спортивного директора, Анатолия Волобуева: «Наверное, если бы мы начали нынешний чемпионат в Премьер-лиге, никто бы из футболистов и не думал покидать Алчевск». Возможно, что «Сталь» станет притчей во языцех у болельщиков. Да, и ранее бывали случаи в украинском футболе, когда команды отказывались повышаться в классе. Одним из таковых в свое время стала «Рава» в 2005 году. Но тот масштаб, который обрело «дело Алчевска» в июле, наверное, отечественная игра миллионов вряд ли помнит. К элите шла не только команда, но и весь город вместе с ней. Однако этот поход на вершину был оборван у самого подножия. Казалось, только флаг следует поставить и палатку разбить, но нет. Не в этот раз.</p>
                        <br />
                        <h4>Фундамент</h4>
                        <p>В то время, как середняки первого дивизиона во время трансферного окна меняют по полтора десятка футболистов, «сталевары» могут похвастаться одной из самых маленьких текучкой кадров. И в этом нет ничего удивительного, ведь у «Стали» одна из самых коротких заявок во всей лиге. Среди тех, кто все же покинул коллектив, оказался один из местных символов – Бюрнель Окана-Стази, отправившийся в Азербайджан. Также решил вернуться в родную «Александрию» нападающий Роман Локтионов, которому немного не хватило стабильности весной 2013. Михаил Козак усилил переднюю линию дебютанта соревнований черниговской «Десны», а срок аренды Романа Карасюка подошел к концу. Кроме того было принято решение расстаться с еще только набирающим опыта игроком - 19-летним Валерием Кучеровым.</p>
                        <p>Усилилась «Сталь» ровно на столько, сколько этого было необходимо. В обратном от Локтионова направлении отправился полузащитник Игорь Гордя. Два Максима – Ковалев и Максименко – добавили непробиваемости линии обороны, а Александр Батищев помог отчасти закрыть позицию ушедшего Оканы-Стази. Ходили еще разговоры и о трио молодых исполнителей из собственной молодежной команды, однако заявлены они так и не были, хоть тренерский штаб и заверял, что при первой же необходимости их фамилии окажутся в заявочном листе.</p>
                        <br />
                        <h4>Игровые аспекты</h4>
                        <p>С первых же туров дружина Вадима Плотникова, который и пришел на смену ушедшего Анатолия Волобуева, поразила своей стабильностью. Три стартовых поединка «красно-белые» выиграли с гроссмейстерским счетом 2:0. Всего же за 19 сыгранных поединков арбитры пять раз фиксировали итоговый счет на табло именно такой. К чему такое внимание к отдельно взятому счету, спросите вы? А все потому, что победа с разницей в два мяча, когда к тому же еще и удается сохранить свои ворота на замке, это как показатель класса команды. 1:0 – результат скользкий, и любой шальной удар игрока команды-соперника либо же срезка в свои ворота может стать роковой. А вот преимущество в «плюс два» позволяет спокойно чувствовать себя и игроков на поле, и тренерский штаб на лавке, и болельщиков на трибунах. Добавим к ним еще три встречи, когда забивали алчевцы более двух голов за 90 минут, и командный уровень исполнителей станет предельно ясен. К тому же «красно-белые», наряду с «Александрией», за весь чемпионат так ни разу и не опустились ниже своего уровня, постоянно барражируя в пределах первой-четвертой строчек. Вот только задач перед командой не стояло никаких, что периодически существенно влияло на мотивационную составляющую, а также на психологическую. Отсюда и разгромное поражение «Полтаве», и совершенно невнятный поединок с «Титаном», и еще ряд матчей, где «Стали» не удавалось демонстрировать весь свой потенциал на все 100%.</p>
                        <p>К сожалению, не только отсутствие должных целей стало бичом «сталеваров». Команда Плотникова, как и год назад дружина Волобуева, так и не научилась играть с лидерами чемпионата. В прошлом году из коллективов, завершивших в итоге сезон в пятерке, алчевцами дважды был обыгран только «Нефтяник». В этом же – дебютант «Десна». «Севастополю», «Александрии», «Буковине», а в нынешнем розыгрыше и тем же ахтырским «нефтяникам» удалось как минимум сыграть вничью, а как максимум – набрать шесть очков из шести возможных в матчах против алчевцев. Понятно, что итоговый результат складывается не только с игр с лидерами, но и в первую очередь с умением не терять очки с середняками и аутсайдерами. Вот только подобные результаты уже с претендентами (а ведь в УПЛ соперники будут куда сильнее) вряд ли добавляют оптимизма болельщикам «Стали», если тем когда-то все же будет суждено выйти в элиту.</p>
                        <br />
                        <h4>Яркий след</h4>
                        <p>Что интересно, просматривая победные поединки «красно-белых», так и не удалось выбрать хотя один какой-то особо яркий матч. В каждом триумфальном противостоянии «сталевары» играли предельно сконцентрировано, собранно и надежно, не оставляя в первую очередь оппоненту шансов на контрудар. Так было и в трех стартовых матчах, таким же оказался и вояж в Сумы, да и поединок в Чернигове. Каждый гол игроков «Стали» являлся чем-то из разряда массивной психологической атаки, после которой сопернику редко удавалось приходить в себя.</p>
                        <br />
                        <img src="img/Stal_optimal_2013_1.JPG" />
                        <br />
                        <h4>Лучший игрок</h4>
                        <p>Выделить кого-то из состава алчевцев не так-то и просто, ведь команда Вадима Плотникова сильна в первую очередь командной игрой. Поэтому хотелось бы отметить прогресс и рост некоторых исполнителей. Так, уход Окана-Стази, похоже, помог расправить крылья в центре поля Антону Поступаленко, игра которого засияла новыми, лидерскими красками. Нельзя также пройти мимо успехов Игоря Сикорского, и в прошлом сезоне регулярно попадавшего в основной состав, но сейчас ставшего одним из самых опасных левофланговых полузащитников в первом дивизионе. И, конечно, Руслан Степанюк, оказавшийся одним из двух исполнителей, которым удалось в текущем первенстве убедить тренера молодежной сборной Сергея Ковальца пригласить его в лагерь второй команды страны из Лиги 1, а также попасть на карандаш Мирону Маркевичу. Плюс Нгаха Колинс, который выпалнял внушительный объем работы успевая и на острие сыграть, и защитникам помочь.</p>
                        <br />
                        <h4>Домашнее задание</h4>
                        <p>То, чего не случилось летом, происходит сейчас. Во время короткого промежутка между чемпионатами «сталевары» остались в коллективе из Луганщины в ожидании положительного решения вопроса о повышении в классе. Нынче же то и дело появляется информация о потерях. Упомянутый уже нами Степанюк на сборах с харьковским «Металлистом», Андрей Мищенко тренируется с луцкой «Волынью», а Виталий Грицай был замечен в составе черниговской «Десны» на мемориале Макарова.</p>
                        <p>На самом деле жаль. Искренне жаль футболистов, которые отчетливо знают какого максимума они могут достичь. И, возможно, это был не самый золотой состав «Стали» за всю историю существования клуба, но однозначно «один из». К сожалению, нам так и не удалось увидеть весь потенциал этой команды.</p>
                        <p>Однако болельщикам «Стали» отчаиваться не стоит. Анатолий Волобуев и Вадим Плотников уже не единожды демонстрировали свое умение в поиске молодых талантов. Да и минувшим летом ведь команде удалось не только компенсировать потери, но и стать сильнее. Поэтому нет сомнений, что команде удастся достойно выступить предстоящей весной и попить немало крови у своих соперников.</p>
                        
                </div>
            </div>
        </div>
        <div class="news_box_close">
            <div class="img_close_news"></div>
        </div>
    </div>