<div class="news_box">
        <div class="news_box_content">
            <div class="article">
                <!-- Заголовок новости -->
                <div class="article_header">
                    <header class="article_header_text">
                        <h1><%=headerNews %></h1>
                        <div class="article_header_info">
                            <span class="date">
                                <img src="img/icon/schedule-button.png" />
                                <%=dateNews %>
                            </span>
                            <span class="autor">
                                Александр Рыженко <a href="https://www.ua-football.com/">UA-Футбол</a>
                            </span>
                        </div>
                    </header>
                </div>
                <!-- Фотография к новости -->
                <div class="article_img">
                    <div class="article_bcimg" style="background-image:url('../img/<%=imgHeader %>')"></div>
                </div>
                <!-- Текст новости -->
                <div class="article_content">
                        <p>К алчевской «Стали», оказавшейся перед непростым выбором продолжить выступления вдали от дома либо помахать ручкой профессиональному футболу, нельзя относиться иначе, нежели как с состраданием. Команда Вадима Плотникова не имела регулярного тренировочного процесса и на игры выходила, что называется, «с колес», проводя фактически лишь предыгровые разминки. Поначалу «сталевары» даже готовились в Алчевске, однако вскоре были вынуждены отказаться от такой авантюры в целях безопасности. Как итог – ни тренировок, ни результата.</p>
                        <h4>ТРАНСФЕРНАЯ ДЕЯТЕЛЬНОСТЬ</h4>
                        <p>Нехорошие предчувствия о возможном провале «Стали» начали закрадываться еще во время летнего межсезонья. Многие игроки, которые играли в Алчевске роль первой скрипки, приняли решение покинуть коллектив. Понять футболистов конечно же, можно, но команде от этого ничуть не легче. Вадим Плотников не досчитался Акименко, Солдата, Трояновского, Дегтярева и Поступаленко, которые отправились в донецкий «Металлург». Ни одному из них завоевать место в основе первой команды: вся пятерка наиграла в составе «метталургов» в общей сложности на чуть более две сотни минут, а первые двое вынуждены были сменить место работы еще по ходу чемпионата, перебравшись назад в Первую лигу. Батищев с Сикорским отправились за границу. Игорю удалось даже дебютировать в Лиге чемпионов, однако календарный год он все равно завершил в числе соперников «Стали». А Леонов оказался востребован в «Александрии».</p>
                        <p>Пополнение происходило по остаточному принципу. К успешным трансферам стоит отнести Масалова, Скарлоша и Локтионова. Особенно стоит отметить возвращение Романа, который на протяжении всего чемпионата был одним из самых стабильных игроков и давал фору многим из своих партнеров. Центр обороны усилил Назаренко, правда, стоит признать, что выходил Дмитрий на поле лишь от безысходности, потому как количество брака просто зашкаливало. Да и в целом все игроки «сталеваров», включая не упомянутых Мамутова, Полюляха, Логинова и Хамида, летом и осенью получили достаточно игровой практики. А все потому, что в заявке команды на сезон было всего два десятка фамилий.</p>
                        <br />
                        <h4>ИГРОВЫЕ АСПЕКТЫ</h4>
                        <p>Руководством и тренерским штабом планировалось, что алчевцы все свои домашние матчи первой части чемпионата будут проводить на выезде. Глядишь, положение в родном городе со временем стабилизируется, и по весне арендовать стадион в Карловке уже не будет никакой необходимости. Но все же поединок дебютного тура пришлось сыграть на Полтавщине: «Звезде», завершавшей в то время реконструкцию своей арены, попросту негде было бы принимать соперника. А в дальнейшем уже ни один клуб не соглашался на рокировку арен. Впрочем, наверное, уже и в алчевском клубе разуверились в возможности все игры до зимы проводить в гостях.</p>
                        <p>Как бы там ни было, сезон для дружины Вадима Плотникова начался просто здорово. В первом же туре был обыгран один из претендентов на повышение в классе, кировоградская «Звезда». Как затем оказалось – это была первая и последняя победа на «домашнем» стадионе в Карловке. В дальнейшем «сталевары» не набрали здесь ни одного очка, в то время как на выезде сумели выиграть четыре из девяти встреч. Особо памятной, опять же, оказалась игра второго круга со «Звездой». Проигрывая после первого тайма, «трехцветные» нашли в себе резервы, что особенно удивительно для команды, не имевшей постоянных физических нагрузок, ответить во второй 45-минутке тремя результативными ударами.</p>
                        <p>Но это уже было в самой концовке года. На остальной части дистанции «Стали» так и не удалось создать вид цельного механизма. Уже энный раз даже в этой статье упоминаемое отсутствие тренировочного процесса не являлось залогом сыгранности команды. Иногда ошибки допускались в самых нелепых ситуациях, из-за чего «привозились» голы в свои ворота. К тому же кондиции каждого из игроков зависели от них самих. Захотели – тренировались дома по индивидуальной программе. Нет – никто и не заметит до выхода на поле. Понятно, что винить футболистов во всех грехах, самое простое. Однако, думается, место в таблице по итогам календарного года было бы куда намного привлекательней, относись каждый из игроков к индивидуальным занятиям более добросовестно. Плюс ко всему посреди чемпионата из-за травм выбыли из строя сразу три основных игрока (Скарлош, Колинс и Хромых), Батюшин и вовсе не выходил на поле с мая, залечивая повреждение, что при очень короткой заявке являлось ощутимым ударом.</p>
                        <p>Не удивительно, что состав алчевцев тасовался от матча к матчу. Одни выздоравливали – другие отправлялись в лазарет. Одни набирали форму – другие приезжали не в лучших кондициях. Из-за этого тренерскому штабу «сталеваров» приходилось порой идти на настоящие эксперименты, закрывая проблемные зоны. Особо показательным в этом случае является персона Игоря Горди, универсального солдата Вадима Плотникова, который за шестнадцать проведенных игр, наверное, лишь в воротах не стоял, да не оказывался форвардом.</p>
                        <p>На последнем рубеже алчевцы успели опробовать всех трех голкиперов, но в концовке место в основе за собой застолбил Геннадий Ганев. Центр обороны старались контролировать Назаренко и Ковалев, а по краям привычными были лица Хромых (слева) и Максименко (справа). Номинальный опорник Масалов начинал сезон на своей привычной позиции в паре с Колинсом, однако со временем уступил место Логинову, а сам переместился на правый фланг. На противоположной бровке можно было увидеть и Мамутова, и Полюляха, и Гордю, и даже Тимофеенко, который также являлся незаменимой палочкой-выручалочкой для тренеров в случае проблем на каком-то участке поля. Ну, а в передней линии безальтернативной была позиция Локтионова. Коучи алчевцев пытались «подтягивать» уровень летнего новичка Хамида Ясина, однако частенько он не оправдывал ожидания, не реализовывая выходы один на один.</p>
                        <br />
                        <h4>ЛУЧШИЙ МАТЧ</h4>
                        <p>Помимо двух очень сильных игр со «Звездой» особняком в нынешнем сезоне для «Стали» стоит игра с «Александрией». Матч оказался очень вязким и не всегда изобиловал высокими скоростями либо опасными моментами: именно такой футбол алчевцы навязали своему сопернику и он их устраивал. При этом «сталевары» весьма опасно контратаковали и вполне могли заслуживать даже на три очка. Однако судьба решила по-другому, и на пятой компенсированной минуте в не самой опасной атаке александрийским «горожанам» удалось отвоевать три очка. Отчаянию алчевцев не было предела.</p>
                        <br />
                        <h4>ОТКРЫТИЕ СЕЗОНА</h4>
                        <p>Выделить кого-то из состава «Стали», кто сумел всерьез заявить о себе, к сожалению, нельзя. Команда прошла первый отрезок чемпионата очень нестабильно, и выделялся на нем лишь Роман Локтионов. В прошлом сезоне форвард защищал цвета «Александрии», куда перешел также со «Стали». За год завоевать доверие Владимира Шарана, а вместе с ним место в основе ему не удалось. Но текущее первенство показало, что его уровень выше командного в Алчевске.</p>
                        <p>Среди пришедшей молодежи запомнился Руслан Мамутов. Начинал сезон хавбек с лавки запасных, получая шанс усилить игру команды по ее ходу, но со временем отчасти благодаря травмам партнеров, а отчасти - собственной старательности практически каждую неделю получал от Вадима Плотникова возможность находиться на поле со стартовым свистком.</p>
                        <br />
                        <h4>ПЕРСПЕКТИВЫ</h4>
                        <p>На протяжении всего сезона больше всего интересовал один вопрос: почему финансово нестабильный второлиговый «Макеевуголь» может себе позволить арендовать базу в Никополе, а «Сталь» вынуждена собираться фактически за день до игры? Тяжело представить, как в таком случае команда Вадима Плотникова будет готовиться к возобновлению чемпионата зимой, если изъять средств для учебно-тренировочного процесса во время первенства в клубе так и не удавалось.</p>
                        <p>В целом же для «Стали» начинается период надежд. Надежд на то, что положение в регионе стабилизируется и команда сможет полноценно готовиться, а также проводить матчи на глазах у родной и откровенно заскучавшей за своими любимцами публики, либо же команде удастся найти себе базу за пределами Алчевска. Ведь понятно, что нынешнее положение в коллективе, когда ты словно в районных соревнованиях видишь партнеров первый раз за неделю лишь на предматчевой разминке влияет на команду и психологически. В противном же случае «сталевары» рискуют повторить судьбу черновицкой «Буковины», которая нынешней осенью просто выживала.</p>
                        <br />
                        <h4>МНЕНИЕ ЭКСПЕРТА</h4>
                        <p><strong>Геннадий Зубов (уроженец Алчевска, начинал свою карьеру в «Стали»):</strong> - Понятно, что нынешняя ситуация не из лучших. Ранее «Сталь» была на первых местах, а нынче замыкает таблицу. Из текущего положения будет выйти нелегко, лишь когда алчевцы будут нормально готовиться, а не собираться буквально в день игры, настраиваться и прогрессировать. Команда не может достигать успехов, если она не тренируется, а только приезжает на игры. Выходом для «Стали» была бы аренда базы за пределами восточного региона, но это зависит от финансирования. Найдут – хорошо, если нет… Все будет зависеть от того, какое решение примут руководители клуба.</p>
                        
                        
                </div>
            </div>
        </div>
        <div class="news_box_close">
            <div class="img_close_news"></div>
        </div>
    </div>