<div class="news_box">
        <div class="news_box_content">
            <div class="article">
                <!-- Заголовок новости -->
                <div class="article_header">
                    <header class="article_header_text">
                        <h1><%=headerNews %></h1>
                        <div class="article_header_info">
                            <span class="date">
                                <img src="img/icon/schedule-button.png" />
                                <%=dateNews %>
                            </span>
                            <span class="autor">
                                Артем Цыганенко <a href="https://www.ua-football.com/">UA-Футбол</a>
                            </span>
                        </div>
                    </header>
                </div>
                <!-- Фотография к новости -->
                <div class="article_img">
                    <div class="article_bcimg" style="background-image:url('../img/<%=imgHeader %>')"></div>
                </div>
                <!-- Текст новости -->
                <div class="article_content">
                        <p>Завоевав по итогам сезона 2012/2013 путёвку в Премьер-лигу, «Сталь» отказалась повыситься в классе, после чего появилось много разговоров о грядущих переменах в команде. Волнения болельщиков подтвердились лишь отчасти: Анатолий Волобуев перешёл на должность спортивного директора, а пост главного тренера занял его ассистент – Вадим Плотников. Покинули команду несколько основных исполнителей, но вместо них пришли футболисты совсем не худшей квалификации, чем ушедшие.</p>
                        <p>Таким образом, кардинальных изменений в клубе не произошло, а потому уверенный старт «Стали» в первенстве получился вполне ожидаемым: девять очков из девяти возможных и ни одного пропущенного мяча. Далее алчевцев ждал выезд в Полтаву, который получился довольно скандальным: два пенальти в ворота «Стали», итоговые 0:3 и резкие комментарии Вадима Плотникова об арбитраже. Тем не менее, такие события дух коллектива не сломили, и к зимнему перерыву алчевцы подошли в лидирующей тройке.</p>
                        <h4>ТРАНСФЕРНАЯ ДЕЯТЕЛЬНОСТЬ</h4>
                        <p>В зимнее межсезонье Алчевск покинули два футболиста, вполне заслуживавших звания ключевых фигур команды. О возможном уходе центрального защитника Андрея Мищенко и атакующего универсала Руслана Степанюка, способного сыграть на любой позиции, говорили давно, и весной оба стали игроками клубов Премьер-лиги: Мищенко переехал в Севастополь, а Степанюк – в Ужгород. Вместо них «Сталь» арендовала тройку футболистов донецкого «Металлурга». Как показал весенний отрезок сезона, лучшим из них оказался Евгений Трояновский. Выйдя на замену в первом же матче, фланговый полузащитник отдал две голевые передачи, впоследствии завоевав место в основе и получив титул самого эффективного футболиста команды. Чисто математически: лучший игрок «Стали» и всей первой лиги Александр Акименко за сезон забил 13 голов и отдал 3 результативные передачи, проведя на поле 1681 минуту – эффективное действие было примерно каждые 105 минут. У Трояновского аналогичный показатель – 96 минут: 3 гола и 4 голевые передачи за 675 минут.</p>
                        <p>Но в новом сезоне алчевские болельщики могут не увидеть ни Трояновского, ни Максима Дегтярёва, ни Виталия Тимофеенко – все трое вернулись в расположение «Металлурга». Не будет в «Стали» ещё нескольких футболистов основы, так что Вадиму Плотникову предстоит построение новой команды.</p>
                        <br />
                        <h4>ИГРОВЫЕ АСПЕКТЫ</h4>
                        <p>В послематчевых интервью Вадим Плотников неоднократно нарекал на не самую лучшую физическую готовность своей команды. И с главным тренером сложно было не согласиться: даже в некоторых выигранных матчах футболисты показывали неубедительную игру. Но объяснения этому были вполне объективные: уменьшение количества дней между матчами из-за переносов под телевизионные трансляции, утомительные дальние переезды, а также травмы, которых в минувшем сезоне получилось уж очень много. Статистически же проблемы «Стали» с физической готовностью показать невозможно, и даже наоборот: почти половину всех своих голов (17 из 38) команда забила в период с 56 по 75 минуту.</p>
                        <p>Уже не один сезон «Сталь» играет по классической для украинского чемпионата схеме «4-5-1» или, как её ещё часто обозначают, «4-2-3-1». Алчевцы традиционно славятся как активными флангами, так и крепким центром – и минувший сезон не стал исключением. При этом Вадиму Плотникову регулярно приходилось ставить футболистов на не совсем привычные для них позиции, и его подопечные такие решения тренера, по большей части, оправдывали. В нескольких матчах «Сталь» выходила на поле с двумя номинальными форвардами, но Акименко и Дегтярёв действовали скорее не как пара нападающих, а как нападающий и атакующий полузащитник – опять-таки в схеме «4-5-1».</p>
                        <br />
                        <h4>ЛУЧШИЙ МАТЧ</h4>
                        <p>В стартовом поединке весенней части сезона «Сталь» разгромила «Сумы» со счётом 5:0, и, наверное, это и есть лучший матч алчевцев в сезоне. Если в первом тайме гости ещё держались, пропустив только один мяч, то после перерыва Акименко и компания были неудержимы. Сам капитан хозяев оформил «покер» (что в конечном итоге и сделало его лучшим бомбардиром сезона), а также отдал голевую передачу.</p>
                        <p>Одной из лучших игр «Стали» в сезоне получился и выезд в Чернигов. Если учесть, что на чужих полях в прошлом чемпионате алчевцы выступали не совсем убедительно (в выездных матчах с конкурентами по верхней половине таблицы подопечные Вадима Плотникова потерпели шесть поражений с разницей 1:13, выиграв только у «Десны»), то как раз в Чернигове «Сталь» сыграла очень мощно. Победа над «Десной», защита которой оказалась лучшей в чемпионате, была уверенной не столько по счёту (2:0), сколько по самой игре – у хозяев не было ни единого шанса даже на ничью.</p>
                        <br />
                        <h4>ЛУЧШИЙ ИГРОК</h4>
                        <p>О лучшем футболисте «Стали» прошлого сезона было сказано немало. Капитан алчевцев Александр Акименко был признан лучшим игроком всей первой лиги, причём признан по разным опросам, и добавить тут нечего. Пожалуй, в свои 28 лет форвард выдал свой пока что самый лучший сезон в карьере. И это при том, что в ходе него Акименко неоднократно подвергался травмам, пропуская существенные этапы подготовки. Из-за повреждения нападающий не смог начать в общей группе и текущие летние сборы «Стали». Исполнители уровня Акименко – настоящее украшение лиги, так что пожелаем Александру полного выздоровления и приумножения своих бомбардирских показателей.</p>
                        <br />
                        <h4>ПЛАНЫ НА БУДУЩЕЕ</h4>
                        <p>Главное задание «Стали» на лето – вернуться на домашний стадион. От команды здесь ничего не зависит, но всё же хочется, чтобы ситуация на Донбассе наконец-то разрешилась, и футбол возвратился к прежней спокойной жизни. Ситуация с тремя домашними матчами «Стали» прошлого сезона мало кого порадовала: «Буковина» не приехала в Алчевск из-за проблем с финансами, «Авангард» не прибыл на игру из-за военных действий, сама же «Сталь» по той же причине была вынуждена играть домашний поединок с «Нефтяником» в Карловке.</p>
                        <p>Если же говорить непосредственно о команде, то футболистам Вадима Плотникова не мешало бы улучшить результаты выездных матчей. «Урожай» очков, который «Сталь» собрала на чужих стадионах, оказался худшим за пять последних чемпионатов. Учитывая, что на старте нового чемпионата в Алчевске команда играть точно не будет, задание улучшить турнирные показатели выездов для «Стали» актуально вдвойне.</p>
                        
                </div>
            </div>
        </div>
        <div class="news_box_close">
            <div class="img_close_news"></div>
        </div>
    </div>